{% extends "rest_framework_swagger/base.html" %}

{% block style %}
	{{ block.super }}
	<link href="{{ PUBLIC_ASSET_URL }}styles.9c2b9739d2ba72513bfb.css" rel="stylesheet"></head>
{% endblock %}

{% block header %}
	<header class="header l-containerhorizontal">
		<a href="{{ PUBLIC_ASSET_URL }}">
			<picture>
				<source media="(min-width: 640px)" srcset="{{ PUBLIC_ASSET_URL }}assets/logo-desktop-e55954f3168b409add64d59c5d819af8.svg">
				<img alt="Badgr logo" src="{{ PUBLIC_ASSET_URL }}assets/logo-744102c31adbbf042736c4fdfdcb2778.svg">
			</picture>
		</a>
		<a class="header-x-menu" href="javascript:void(0)" onclick="document.getElementById('menu').scrollIntoView(false)">Main Navigation</a>
	</header>
{% endblock %}

{% block django_rest_swagger %}
{% endblock %}

{% block body %}
<app>
	{{ block.super }}

	<nav class="menu" id="menu">
		<h1 class="visuallyhidden">Main Navigation</h1>
		<ul>
			{% if user.is_authenticated %}
				<li class="menuitem" ><a href="{% url "logout"%}">{{ user.email }}</a></li>
			{% else %}
				<li class="menuitem" ><a href="{% url "login"%}?next={{ request.path }}">Sign In</a></li>
			{% endif %}
		</ul>
	</nav>
</app>
{% endblock %}
