{% extends "rest_framework_swagger/base.html" %}

{% block style %}
	<link href="{{ STATIC_URL }}public/css/reset.css" media="screen" rel="stylesheet" type="text/css" >
	{{ block.super }}
	<link href="{{ STATIC_URL }}public/css/screen.css" media="screen" rel="stylesheet" type="text/css" >
{% endblock %}

{% block header %}
	<header class="header l-containerhorizontal">
		<a href="https://badgr.io/">
			<picture>
				<source media="(min-width: 640px)" srcset="{{ STATIC_URL }}public/images/logo-desktop.svg">
				<img src="{{ STATIC_URL }}public/images/logo.svg" alt="Badgr logo">
			</picture>
		</a>
		<a class="header-x-menu" href="javascript:void(0)" onclick="document.getElementById('menu').scrollIntoView(false)">Main Navigation</a>
	</header>
{% endblock %}

{% block django_rest_swagger %}
{% endblock %}

{% block body %}
	{{ block.super }}

	<nav class="menu" id="menu">
		<h1 class="visuallyhidden">Main Navigation</h1>
		<ul>
			{% if user.is_authenticated %}
				<li class="menuitem" ><a href="{% url "logout"%}">{{ user.email }}</a></li>
			{% else %}
				<li class="menuitem" ><a href="{% url "login"%}?next={{ request.path }}">Sign In</a></li>
			{% endif %}
		</ul>
	</nav>

{% endblock %}
