{% load url from future %}

<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
  <title>{% block head_title %}Badgr{% endblock %}</title>
  <link rel="shortcut icon" href="{{STATIC_URL}}favicon.png" />
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <link rel="stylesheet" media="screen" type="text/css" href="{{STATIC_URL}}css/bootstrap/css/bootstrap.css">

  <!-- main stylesheet -->
  <!-- <link rel="stylesheet" media="screen" type="text/css" href="{{STATIC_URL}}css/screen.css"> -->

  <!-- accounts stylesheet -->
  <link rel="stylesheet" media="screen" type="text/css" href="{{STATIC_URL}}css/style-accounts.css">

  {% block extrastyle %}{% endblock %}

  {% block extrahead %}{% endblock %}

  {% endblock %}
</head>
<body class="{% block bodyclass %}accounts{% endblock %}">

  <div class="page-wrap">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>-->
                    <!--<a class="navbar-brand" href="#">Badgr Server</a>-->
                    <ul class="nav navbar-nav">
                        <li><a href="/"><i class="fa fa-arrow-left"></i> Home</a></li>
                    </ul>
                </div>
            </div><!-- /.container-fluid -->
        </nav>
        <div class="accounts-panel container">
            <div class="col-sm-2">
                <img class="col-logo hidden-xs" src="{{STATIC_URL}}images/logo_large.png" width="100%"/>
            </div>
            <div class="col-sm-10">

                {% block pre_content %}

                  {% if messages %}
                    <div class="accounts-panel messages">
                    {% for message in messages %}
                      <div class="alert alert-info" role="alert">
                        {{message}}
                      </div>
                    {% endfor %}
                    </div>
                  {% endif %}

                {% endblock %}

                {% block content %}

                  <ul class="user-actions nav nav-pills">
                  {% if user.is_authenticated %}
                    <li><a href="{% url 'account_email' %}">Change email</a></li>
                    <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
                  {% else %}
                    <li><a href="{% url 'account_login' %}">Sign In</a></li>
                    <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
                  {% endif %}
                    </ul>

                {% endblock %}
            </div>
        </div>
    </div>

    <footer class="footer">
      <div class="row">
        <div class="col col-xs-12 col-sm-5 col-sm-offset-2">
          <p><img src="{{STATIC_URL}}images/concentricsky.png"/></p>
          <p>Badgr is a product of <a href="http://www.concentricsky.com" target="_blank">Concentric Sky</a></p>
        </div>
        <div class="contact col-xs-12 col-sm-4 col-sm-offset-0">
          <h4>Get in Touch</h4>
          <ul>
            <li>(541) 342-8456</li>
            <li>Twitter. <a href="https://twitter.com/concentricsky" target="_blank">@concentricsky</a></li>
            <li>Email. <a href="mailto:{{ HELP_EMAIL }}">{{ HELP_EMAIL }}</a></li>
          </ul>
        </div>
      </div>
    </footer>

</body>
</html>
