{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load url from future %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

  {% if socialaccount.providers  %}
    <p>{% blocktrans with site.name as site_name %}Please sign in with one
    of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
    for a {{site_name}} account and sign in below:{% endblocktrans %}</p>

    <div class="socialaccount_ballot">
      <ul class="socialaccount_providers">
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
      </ul>

      <div class="login-or">{% trans 'or' %}</div>

    </div>

    {% include "socialaccount/snippets/login_extra.html" %}

  {% else %}

    {% for error in form.non_field_errors %}
        <div class="alert alert-error">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}

    <h2 class="accounts-panel-heading">{% trans "Sign In" %}</h2>

    <p>If you have not created an account yet, then please <a href="/accounts/signup/">sign up</a> first.</p>

    <p>Need to <a href="{% url "user_claim" %}"/>claim</a> an existing LTI account?</p>


    <form class="login form-horizontal" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        <div class="form-group">
            <label class="col-sm-2 control-label" for="id_login">E-Mail:</label>
            <div class="col-sm-6">
                <input class="form-control" autofocus="autofocus" id="id_login" name="login" placeholder="E-Mail" type="text">
                    <div class="help-text">
                        {% for error in form.login.errors %}
                            <strong>{{ error|escape }}</strong>
                        {% endfor %}
                    </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="id_password">Password:</label>
            <div class="col-sm-6">
                <input class="form-control" id="id_password" name="password" placeholder="Password" type="password">
                    <div class="help-text">
                        {% for error in form.password.errors %}
                            <strong>{{ error|escape }}</strong>
                        {% endfor %}
                    </div>
            </div>
        </div>

        <div class="signin-action col-sm-6 col-sm-offset-2">
            <div class="checkbox col-sm-6">
                <label>
                    <input id="id_remember" name="remember" type="checkbox"> Remember Me
                </label>
            </div>
            <div class="col-sm-6">
                <button class="btn btn-primary btn-block" type="submit">Sign In</button>
            </div>
            <p class="forgot-password"><a class="pull-right" href="{% url 'account_reset_password' %}">Forgot your Password?</a></p>

            {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
        </div>
      </form>

  {% endif %}

{% endblock %}
