<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    
            <title>{% block head_title %}Badgr{% endblock %}</title>
            <link rel="shortcut icon" href="{{STATIC_URL}}images/favicon.ico" />
        
            <meta name="viewport" content="width=device-width,initial-scale=1">

            <link rel="stylesheet" media="screen" type="text/css" href="{{STATIC_URL}}css/bootstrap/css/bootstrap.css">
            <!-- TODO: replace with min later: 
            <link rel="stylesheet" media="screen" type="text/css" href="{{STATIC_URL}}css/bootstrap/bootstrap.min.css">
            -->


            <!-- Custom Fonts -->
            <link href="{{STATIC_URL}}css/plugins/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

            <!-- main stylesheet -->
            <link rel="stylesheet" media="screen" type="text/css" href="{{STATIC_URL}}css/style.css">

            <!-- TODO: create print stylesheet
            <link rel="stylesheet" media="print" type="text/css" href="{{STATIC_URL}}css/print.css">
            -->
        
            {% block extrastyle %}{% endblock %}

            <script src="{{STATIC_URL}}js/libs/modernizr-2.5.3.min.js"></script>

        {% endblock %}

        {% block extrahead %}{% endblock %}

        {% block initial_data %}
            {% if initial_data %}
                <script type="text/javascript">
                    var initialData = {{ initial_data | safe }};
                </script>
            {% endif %}
        {% endblock %}
    </head>

    <body class="badgr {% block bodyclass %}{% endblock %}">
        {% block pre_content %}{% endblock %}

        {% block react %}
            {% if initial_data %}
            <div id="app" class="main-app-container">
            <!-- React App renders here -->
                <div class="container">
                    <div class="jumbotron loading-react">
                        <h1>{{ self.head_title() }}</h1>
                        <p>Loading...</p>
                        <p class="loading-spinner"><img src="{{STATIC_URL}}images/ajax-loader.gif"></p>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endblock %}
        {% block content %}

        {% endblock %}

        {% block footer %}
            <footer class="main-footer clearfix wrap page-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-6 col-sm-4">
                          <span class="vendor-info">
                            Powered by <a href="https://github.com/concentricsky/badgr-server">Badgr</a>
                          </span>
                        </div>
                        <div class="col-xs-6 col-sm-8">
                            <ul class="footer-links">
                                <!-- <li>About</li> -->
                                <li><a href="/docs">API documentation</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        {% endblock %}

        {% block scripts %}

            {% if initial_data %}
                <script src="{{STATIC_URL}}js/app.js"></script>
            {% endif %}

            <script type="text/javascript">
              /* var _gaq = _gaq || [];
              _gaq.push(['_setAccount', 'UA-#######-#']);
              _gaq.push(['_trackPageview']);
              (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
              })(); */
            </script>
        {% endblock %}
    </body>
</html>


