<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<html>
    <head>
        {% block head %}
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    
            <title>{% block title %}Site Title{% endblock %}</title>
            <link rel="shortcut icon" href="{{STATIC_URL}}favicon.png" />
        
            <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
        
            <link rel="stylesheet" media="screen" type="text/css" href="{{STATIC_URL}}css/bootstrap/bootstrap.css">
            <link rel="stylesheet" media="print" type="text/css" href="{{STATIC_URL}}css/print.css">
            <!--[if IE 7]>
            <link href="{{STATIC_URL}}css/ie7.css" media="screen, projection" rel="stylesheet" type="text/css" />
            <![endif]-->
            <!--[if IE 8]>
            <link href="{{STATIC_URL}}css/ie8.css" media="screen, projection" rel="stylesheet" type="text/css" />
            <![endif]-->
        
            {% block extrastyle %}{% endblock %}

            <script src="{{STATIC_URL}}js/libs/modernizr-2.5.3.min.js"></script>

        {% endblock %}
        {% block extrahead %}{% endblock %}
    </head>
    <body class="{% block bodyclass %}{% endblock %}">
        {% block body %}
            <div id="container">

                <header>
                    <h1><a href="/"></a></h1>
                    <a id="anchor" href="#bottomnav">Menu</a>
                    <nav>
                        {{cms_menu('main-menu', id='nav', active_item=active_tab)}}
                    </nav>
                </header>

                {% block precontent %}
                    {% block messages %}
                        {% if messages %}
                        <ul class="messagelist">{% for message in messages %}
                          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}</ul>
                        {% endif %}
                    {% endblock messages %}
                {% endblock %}

                <section class="content_container">
                    <div class="content">

                        {% block content %}{% endblock %}

                        <aside class="sidebar">
                            {% block sidebar %}{% endblock %}
                        </aside>
                    </div>
                </section>  

                <nav id="bottomnav">
                    {{cms_menu('main-menu', id='nav', active_item=active_tab, depth=0)}}
                </nav>

            </div>
        
            <footer>
                {% block footer %}{% endblock %}
            </footer>

            {% block scripts %}
                <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
                <script>window.jQuery || document.write('<script src="{{STATIC_URL}}js/libs/jquery-1.7.1.min.js"><\/script>')</script>
                
                <script src="{{STATIC_URL}}js/libs/jquery.tools.min.js"></script>
                <script src="{{STATIC_URL}}js/plugins.js"></script>
                <script src="{{STATIC_URL}}js/script.js"></script>
                
                <script type="text/javascript">
                  var _gaq = _gaq || [];
                  _gaq.push(['_setAccount', 'UA-#######-#']);
                  _gaq.push(['_trackPageview']);
                  (function() {
                    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                  })();
                </script>
                <!--[if lt IE 7 ]>
                    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
                    <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
                <![endif]-->
            {% endblock %}
        
        {% endblock %}
    </body>
</html>
