<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    
            <title>{% block title %}Badge Nexus{% endblock %}</title>
            <link rel="shortcut icon" href="{{STATIC_URL}}favicon.png" />
        
            <meta name="viewport" content="width=device-width,initial-scale=1">
        
            <link rel="stylesheet" media="screen" type="text/css" href="{{STATIC_URL}}css/bootstrap/css/bootstrap.css">
            <!-- TODO: replace with min later: 
            <link rel="stylesheet" media="screen" type="text/css" href="{{STATIC_URL}}css/bootstrap/bootstrap.min.css">
            -->

            <!-- MetisMenu CSS -->
            <link href="{{STATIC_URL}}css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">

            <!-- Bootstrap Dashboard -->
            <link href="{{STATIC_URL}}css/sb-admin-2.css" rel="stylesheet">

            <!-- Custom Fonts -->
            <link href="{{STATIC_URL}}css/plugins/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

            <!-- TODO: create print stylesheet
            <link rel="stylesheet" media="print" type="text/css" href="{{STATIC_URL}}css/print.css">
            -->
        
            {% block extrastyle %}{% endblock %}

            <script src="{{STATIC_URL}}js/libs/modernizr-2.5.3.min.js"></script>

        {% endblock %}

        {% block extrahead %}{% endblock %}
    </head>

    <body class="{% block bodyclass %}{% endblock %}">
        {% block body %}
            <div id="wrapper">

                {% block mainnav %}
                <header>
                    <!-- Navigation -->
                    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                        <div class="navbar-header">
                            <!-- Small screens hamburger button -->
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="index.html">{{ self.title() }}</a>


                            <ul class="nav navbar-top-links navbar-right">

                                <!-- TODO: Implement these other dropdown menus
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        <i class="fa fa-envelope fa-fw"></i>  <i class="fa fa-caret-down"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-messages">
                                    {$ block messages $}{$ endblock $}
                                    </ul>
                                    <!-- /.dropdown-messages -/->
                                </li>

                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        <i class="fa fa-tasks fa-fw"></i>  <i class="fa fa-caret-down"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-tasks">
                                        {$ block tasks $}{$ endblock $}
                                    </ul>
                                    <!-- /.dropdown-tasks -/->
                                </li>

                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-alerts">
                                        {$ block alerts $}{$ endblock $}
                                    </ul>
                                    <!-- /.dropdown-alerts -/->
                                </li>
                                END TODO -->

                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-user">
                                        <li><a href="/user"><i class="fa fa-user fa-fw"></i> User Profile</a>
                                        </li>
                                        <li><a href="/user/settings"><i class="fa fa-gear fa-fw"></i> Settings</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                                        </li>
                                    </ul>
                                    <!-- /.dropdown-user -->
                                </li>
                                <!-- /.dropdown -->
                            </ul>
                            <!-- /.navbar-top-links -->


                        </div>
                        <!-- /.navbar-header -->


                        <div class="navbar-default sidebar" role="navigation">
                            <div class="sidebar-nav navbar-collapse">
                                <ul class="nav" id="side-menu">
                                    <li class="sidebar-search">
                                        <div class="input-group custom-search-form">
                                            <input type="text" class="form-control" placeholder="Search...">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </span>
                                        </div>
                                        <!-- /input-group -->
                                    </li>

                                    <li>
                                        <a href="/earn"><i class="fa fa-certificate fa-fw"></i>Earn</a>
                                    </li>

                                    <li>
                                        <a href="#"><i class="fa fa-mail-forward fa-fw"></i>Issue<span class="fa arrow"></span></a>
                                        <ul class="nav nav-second-level">
                                            <li>
                                                <a href="/issue"><i class="fa fa-bookmark fa-fw"></i>Award Badges</a>
                                            </li>
                                            <li>
                                                <i class="fa fa-newspaper-o fa-fw"></i><a href="/certificates">Print Certificates</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li>
                                        <a href="/understand"><i class="fa fa-info-circle fa-fw"></i>Understand</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- /.navbar-static-side -->
                    </nav>
                </header>
                {% endblock %}

                <section class="main-section content-container">
                {% block mainsection %}

                    <div id="page-wrapper" class="page-wrapper">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-12">

                                    {% block precontent %}
                                        {% block messages %}
                                            {% if messages %}
                                            <ul class="messagelist">{% for message in messages %}
                                              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                            {% endfor %}</ul>
                                            {% endif %}
                                        {% endblock messages %}
                                    {% endblock %}

                                    <h1 class="page-header">{% block pagetitle %}{% endblock %}</h1>

                                    {% block content %}{% endblock %}
                                </div>
                                <!-- /.col-lg-12 -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.container-fluid -->
                    </div>
                    <!-- /#page-wrapper -->

                {% endblock %}
                </section>

                <footer>
                    <nav id="bottomnav" class="bottomnav">
                        {{cms_menu('main-menu', id='nav', active_item=active_tab, depth=0)}}
                    </nav>

                    {% block footer %}{% endblock %}
                </footer>

            </div>

            {% block scripts %}

                <script src="{{STATIC_URL}}js/libs/jquery.min.js"></script>

                <!-- Bootstrap Core JavaScript -->
                <script src="{{STATIC_URL}}css/bootstrap/js/bootstrap.min.js"></script>

                <!-- Metis Menu Plugin JavaScript -->
                <script src="{{STATIC_URL}}js/libs/metisMenu.min.js"></script>

                <!-- Custom Theme JavaScript -->
                <script src="{{STATIC_URL}}js/libs/sb-admin-2.js"></script>

                <script src="{{STATIC_URL}}js/script.js"></script>
                
                <script type="text/javascript">
                  var _gaq = _gaq || [];
                  _gaq.push(['_setAccount', 'UA-#######-#']);
                  _gaq.push(['_trackPageview']);
                  (function() {
                    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                  })();
                </script>
                <!--[if lt IE 7 ]>
                    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
                    <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
                <![endif]-->
            {% endblock %}

        {% endblock %}
    </body>
</html>


