{% extends "base_interior.html" %}


{% set page_title=snippet('search-page-title')|striptags|default('Search Results', true) %}


{% block content %} 
    <div class="content_listing">   
        <ul>
            {% for object in object_list %}
            <li>
                <aside>
                    <span class="date">
                        {% if page_obj and paginator %}
                            {{ loop.index + (page_obj.number-1)*paginator.per_page }}
                        {% else %}
                            {{ loop.index }}
                        {% endif %}.
                    </span>
                    {% if object.search and object.search.model %}
                        <span class="type {{ object.search.model.__name__ }}">{{ object.search.model.__name__ }}</span>
                    {% endif %}
                    
                    
                </aside>
                <article>
                    <h4><a href="{% if object.get_absolute_url %}{{object.get_absolute_url()}}{% endif %}">{{object}}</a></h4>
                    <p>{{object.search_description|safe}}</p>
                </article>
            </li>
            {% else %}
                {{ snippet('no-search-results')|default('<p>Sorry, no search results found.</p>'|safe, true) }}
            {% endfor %}
        </ul>
    </div>

{% if is_paginated %}
    <div class="pagination">
        <a {% if previous_page_number %}href="?q={{query}}&page={{previous_page_number}}"{% endif %} class="nav prev{% if not previous_page_number %} disabled{% endif %}">Prev</a>

        <ul>
            {% for page_number in range(1, num_pages|default(1)+1) %}
                {% if page_number == 1 or page_number == num_pages or (2 > page - page_number and 2 > page_number - page)  %}
                    <li><a href="?q={{query}}&page={{page_number}}" {% if page_number == page %}class="current"{% endif %}>{{page_number}}</a></li>
                {% else %}
                    {% if 2 == page_number - page or 2 == page - page_number  %}
                        <li>...</li>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ul>

        <a {% if next_page_number %}href="?q={{query}}&page={{next_page_number}}"{% endif %} class="nav next{% if not next_page_number %} disabled{% endif %}">Next</a>
    </div>
{% endif %}

{% endblock %}
