{% extends "temp-base.html" %}
{# Use this if you want to remove the padding from main #}
{# {% block main_override %}l-mainoverride{% endblock %} #}
{% block bodyclass %}o-canvas{% endblock %}
{% block header %}
    <header class="header_ header_-small l-wrapper">
        <a class="header_-x-logo" href=""><img src="/static//images/header-logo-small.svg" width="153" height="65"></a>
        <nav>
            <ul>
                <li><a class="is-active" href="">My Badges</a></li>
                <li><a href="">My Collections</a></li>
                <li><a href="">Issue Badges</a></li>
                <li><a href="">username</a></li>
            </ul>
        </nav>
    </header>
{% endblock %}
{% block content %}
    <div class="l-wrapper l-wrapper-inset">
        <header class="heading_ heading_-medium">
            <h1>Named Collection #2</h1>
            <p>Instructional or welcome text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla at risus commodo, mattis turpis non, molestie libero. Fusce pellentesque diam ac neque.</p>
        </header>
        <hr class="rule_">
        <div class="l-grid">
            
            <div>
                <div class="card_">
                    <div class="badge_">
                        <img srcst="http://placehold.it/256x256 2x, http://placehold.it/128x128" src="http://placehold.it/128x128" width="128" height="128" alt="badge description">
                        <div class="badge_-x-action">
                            <button class="button_ button_-solid button_-uppercase">View Details</button>
                        </div>
                    </div>
                    <div class="title_">
                        <div>
                            <h1 class="title_-x-primary">Presidential Pro</h1>
                            <p class="title_-x-secondary">J &amp; J Issuers United</p>
                        </div>
                        
                        <div>
                            
                            <button class="icon_ icon_-notext icon_-right icon_-more">Options</button>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div>
                <div class="card_">
                    <div class="badge_">
                        <img srcst="http://placehold.it/256x256 2x, http://placehold.it/128x128" src="http://placehold.it/128x128" width="128" height="128" alt="badge description">
                        <div class="badge_-x-action">
                            <button class="button_ button_-solid button_-uppercase">View Details</button>
                        </div>
                    </div>
                    <div class="title_">
                        <div>
                            <h1 class="title_-x-primary">Presidential Pro</h1>
                            <p class="title_-x-secondary">J &amp; J Issuers United</p>
                        </div>
                        
                        <div>
                            
                            <button class="icon_ icon_-notext icon_-right icon_-more">Options</button>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div>
                <div class="card_">
                    <div class="badge_">
                        <img srcst="http://placehold.it/256x256 2x, http://placehold.it/128x128" src="http://placehold.it/128x128" width="128" height="128" alt="badge description">
                        <div class="badge_-x-action">
                            <button class="button_ button_-solid button_-uppercase">View Details</button>
                        </div>
                    </div>
                    <div class="title_">
                        <div>
                            <h1 class="title_-x-primary">Presidential Pro</h1>
                            <p class="title_-x-secondary">J &amp; J Issuers United</p>
                        </div>
                        
                        <div>
                            
                            <button class="icon_ icon_-notext icon_-right icon_-more">Options</button>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div>
                <div class="card_">
                    <div class="badge_">
                        <img srcst="http://placehold.it/256x256 2x, http://placehold.it/128x128" src="http://placehold.it/128x128" width="128" height="128" alt="badge description">
                        <div class="badge_-x-action">
                            <button class="button_ button_-solid button_-uppercase">View Details</button>
                        </div>
                    </div>
                    <div class="title_">
                        <div>
                            <h1 class="title_-x-primary">Presidential Pro</h1>
                            <p class="title_-x-secondary">J &amp; J Issuers United</p>
                        </div>
                        
                        <div>
                            
                            <button class="icon_ icon_-notext icon_-right icon_-more">Options</button>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div>
                <div class="card_">
                    <div class="badge_">
                        <img srcst="http://placehold.it/256x256 2x, http://placehold.it/128x128" src="http://placehold.it/128x128" width="128" height="128" alt="badge description">
                        <div class="badge_-x-action">
                            <button class="button_ button_-solid button_-uppercase">View Details</button>
                        </div>
                    </div>
                    <div class="title_">
                        <div>
                            <h1 class="title_-x-primary">Presidential Pro</h1>
                            <p class="title_-x-secondary">J &amp; J Issuers United</p>
                        </div>
                        
                        <div>
                            
                            <button class="icon_ icon_-notext icon_-right icon_-more">Options</button>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div>
                <div class="card_">
                    <div class="badge_">
                        <img srcst="http://placehold.it/256x256 2x, http://placehold.it/128x128" src="http://placehold.it/128x128" width="128" height="128" alt="badge description">
                        <div class="badge_-x-action">
                            <button class="button_ button_-solid button_-uppercase">View Details</button>
                        </div>
                    </div>
                    <div class="title_">
                        <div>
                            <h1 class="title_-x-primary">Presidential Pro</h1>
                            <p class="title_-x-secondary">J &amp; J Issuers United</p>
                        </div>
                        
                        <div>
                            
                            <button class="icon_ icon_-notext icon_-right icon_-more">Options</button>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div>
                <div class="card_">
                    <div class="badge_">
                        <img srcst="http://placehold.it/256x256 2x, http://placehold.it/128x128" src="http://placehold.it/128x128" width="128" height="128" alt="badge description">
                        <div class="badge_-x-action">
                            <button class="button_ button_-solid button_-uppercase">View Details</button>
                        </div>
                    </div>
                    <div class="title_">
                        <div>
                            <h1 class="title_-x-primary">Presidential Pro</h1>
                            <p class="title_-x-secondary">J &amp; J Issuers United</p>
                        </div>
                        
                        <div>
                            
                            <button class="icon_ icon_-notext icon_-right icon_-more">Options</button>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}