<header class="header_ l-wrapper">

    <a class="header_-x-logo" href=""><img src="/static/images/header-logo.svg" width="193" height="89"></a>

</header>

<main class="wrap_ wrap_-borderbottom">

  <div class="l-wrapper l-wrapper-inset">
    <header class="heading_ {{submodules}}">
        <div class="heading_-x-text">
            <h1>Name of Badge</h1>
            <p>Badge description here.</p>
        </div>
        <button class="heading_-x-back icon_ icon_-back icon_-notext">Back</button>
    </header>

    {{> atoms/rule}}

    <div class="l-verticaloffset">
      <div class="detail_">
          
          <div>
              
              <img srcst="http://placehold.it/288x288 2x, http://placehold.it/144x144" src="http://placehold.it/144x144" width="144" height="144" alt="badge description">

          </div>

          <ul>
              <li>
                  <h2 class="detail_-x-meta">Criteria</h2>
                  <p><a href="https://badgr.io/public/badges/new-test-badge/criteria" target="_blank" title="Criteria to earn this badge">https://badgr.io/public/badges/new-test-badge/criteria</a></p>
              </li>
              <li>
                  <h2 class="detail_-x-meta">Issue Date</h2>
                  <p>January 23, 2016</p>
              </li>
              <li>
                  <h2 class="detail_-x-meta">Issuer</h2>
                  <p>Badge Issuer, Inc.</p>
              </li>
              <li>
                  <h2 class="detail_-x-meta">Issuer Website</h2>
                  <p><a href="https://www.badgeissuerinc.com" target="_blank" title="Website of badge issuer">https://www.badgeissuerinc.com</a></p>
              </li>
              <li>
                  <h2 class="detail_-x-meta">Recipient</h2>
                  <p>jcowsill@concentricsky.com</p>
              </li>
              <li class="detail_-x-footer">Created on <strong>January 23, 2016</strong> by <strong>jcowsill@concentricsky.com</strong></li>
          </ul>
      </div>
    </div>
    
  </div>

</main>

{{> atoms/footer}}