<header class="header_ l-wrapper">

    <a class="header_-x-logo" href=""><img src="/static/images/header-logo.svg" width="193" height="89"></a>

</header>

<main class="wrap_ wrap_-borderbottom">

  <div class="l-wrapper l-wrapper-inset">
    <header class="heading_ {{submodules}}">
        <div class="heading_-x-text">
            <h1>Name of Collection</h1>
            <p><span class="state_ state_-verified">Badges earned by Trevor.</span> Collection description here.</p>
        </div>
    </header>

    {{> atoms/rule}}

    <div class="l-grid">
      
      <div>
        <article class="card_">
          {{> molecules/badge}}
          <div class="title_">
              <div>

                  <h1 class="title_-x-primary">Presidential Pro</h1>
                  <p class="title_-x-secondary">J &amp; J Issuers United</p>

              </div>
          </div>
        </article>
      </div>

      <div>
        <article class="card_">
          {{> molecules/badge}}
          <div class="title_">
              <div>

                  <h1 class="title_-x-primary">Presidential Pro</h1>
                  <p class="title_-x-secondary">J &amp; J Issuers United</p>

              </div>
          </div>
        </article>
      </div>

      <div>
        <article class="card_">
          {{> molecules/badge}}
          <div class="title_">
              <div>

                  <h1 class="title_-x-primary">Presidential Pro</h1>
                  <p class="title_-x-secondary">J &amp; J Issuers United</p>

              </div>
          </div>
        </article>
      </div>

      <div>
        <article class="card_">
          {{> molecules/badge}}
          <div class="title_">
              <div>

                  <h1 class="title_-x-primary">Presidential Pro</h1>
                  <p class="title_-x-secondary">J &amp; J Issuers United</p>

              </div>
          </div>
        </article>
      </div>

      <div>
        <article class="card_">
          {{> molecules/badge}}
          <div class="title_">
              <div>

                  <h1 class="title_-x-primary">Presidential Pro</h1>
                  <p class="title_-x-secondary">J &amp; J Issuers United</p>

              </div>
          </div>
        </article>
      </div>

    </div>

  </div>

</main>

{{> atoms/footer}}