*.pyc
*.egg
.*.sw*
*~
.DS_Store
AppleDouble
*.sqlite*
*.sass-cache
env_vars.sh
staticfiles*
mediafiles/*
!mediafiles/uploads/badges/eduid.png
!mediafiles/uploads/issuers/surf.png
emailfiles*
logs/*
node_modules/*
bower_components/*
npm-debug.log


.ropeproject
.idea/*
*.iml

test.cache/

.coverage
.tox/
*.egg-info/
build/
dist/
htmlcov/
api_spec_v1.json
api_spec_v2.json
api_docs_v1.json
api_docs_v2.json
test_data

#eclipse
.project
.pydevproject
.settings
