*.pyc
settings_local.py
.*.sw*
*~
.DS_Store
AppleDouble
*.sqlite*
*.sass-cache
staticfiles/*
mediafiles/*
logs/*
node_modules/*
bower_components/*
npm-debug.log
breakdown/static/js/script.js
breakdown/static/js/app.js
breakdown/static/js/lti-app.js
breakdown/static/css/style.css
breakdown/static/css/screen.css
breakdown/static/css/screen.css.map
.ropeproject
.idea/*
