export ACCOUNT_SALT="secret"
export ALLOW_SEEDS=True
export BADGR_DB_NAME="badgr"
export BADGR_DB_USER="root"
export BADGR_DB_PASSWORD=""
export DEBUG=True
export DEFAULT_DOMAIN="http://127.0.0.1:8000"
export DEFAULT_FROM_EMAIL="noreply@surf.nl"
export DOMAIN="localhost:4000"
export EDU_ID_SECRET="ask-a-collegue"
export EDUID_PROVIDER_URL="https://eduid.pilot.acc.eduid.nl"
export EMAIL_HOST="localhost"
export EMAIL_PORT="1026"
export LTI_FRONTEND_URL="localhost"
export ROOT_INFO_SECRET_KEY="secret"
export SUPERUSER_EMAIL="superuser@example.com"
export SUPERUSER_NAME="superuser"
export SUPERUSER_PWD="secert"
export SURF_CONEXT_CLIENT="http@//localhost.edubadges.nl"
export SURF_CONEXT_SECRET="ask-a-collegue"
export TIME_STAMPED_OPEN_BADGES_BASE_URL="http://127.0.0.1:3000/"
export UI_URL="http://localhost:4000"
export UNSUBSCRIBE_SECRET_KEY="secret"