export ACCOUNT_SALT="xxx"
export ALLOW_SEEDS=True
export BADGR_DB_NAME="xxx"
export BADGR_DB_PASSWORD="xxx"
export BADGR_DB_USER="xxx"
export DEBUG=True
export DEFAULT_DOMAIN="xxx"
export DEFAULT_FROM_EMAIL="xxx"
export DOMAIN="xxx"
export EDU_ID_SECRET="xxx"
export EDUID_REDIRECT_URL="xxx"
export EDUID_RELYING_PARTY_HOST="xxx"
export EMAIL_HOST="xxx"
export EMAIL_PORT="xxx"
export LTI_FRONTEND_URL="xxx"
export ROOT_INFO_SECRET_KEY="xxx"
export SUPERUSER_EMAIL="xxx"
export SUPERUSER_NAME="xxx"
export SUPERUSER_PWD="xxx"
export SURF_CONEXT_CLIENT="xxx"
export SURF_CONEXT_SECRET="xxx"
export TIME_STAMPED_OPEN_BADGES_BASE_URL="xxx"
export UI_URL="xxx"
export UNSUBSCRIBE_SECRET_KEY="xxx"