# Django stuff
Django==1.7.1
semver==2.2.1
# Timezone support
pytz==2014.7
# PIL support
Pillow>=2.6.1,<3
# jinja2 templates
Jinja2==2.7.3
git+https://github.com/concentricsky/jingo.git@v0.4
# mysql database
MySQL-python==1.2.5
# Email support
boto==2.33.0
django-boto==0.3.9
django-ses==0.6.0
django-storages==1.1.8
python-resize-image==1.1.10
# CSky models
git+https://github.com/concentricsky/django-cachemodel.git@v2.1.4
git+https://github.com/concentricsky/django-basic-models.git@v2.1.2
git+https://github.com/concentricsky/django-ismigrated.git@v0.1.7

# CSky Client Admin
git+https://github.com/concentricsky/django-sky-ckeditor.git@v0.9.8
django-object-actions==0.8.2
# Revision and deleted object recovery
django-reversion==1.8.5
# Memcached cache
python-memcached==1.53
# Django Rest Framework
djangorestframework==3.1.1
django-rest-swagger==0.3.5
# Django Allauth
#django-allauth==0.23.0
git+https://github.com/concentricsky/django-allauth.git@0.23.0-csky
oauthlib==0.7.2
requests==2.5.1
requests-oauthlib==0.4.2
# Permissions framework
rules==0.4

# Some extras
django-cors-headers==1.1.0
Django-Select2==4.2.2
django-debug-toolbar==1.2.2
MarkupSafe==0.23
django-autoslug==1.7.2
jingo==0.4
wsgiref==0.1.2
sqlparse==0.1.14
netaddr

# Utilities for working with badges
jsonschema==2.4.0
simplejson==3.6.4
# JSON-LD
PyLD==0.6.3
rfc3987==1.3.4
pypng==0.0.17
jsonfield==1.0.0
PyJWT==1.4.0

# LTI support
git+https://github.com/concentricsky/django-auth-lti@v1.2.1-csky
git+https://github.com/concentricsky/python-randomnames@v1.0.3

# Badgr related utilities
openbadges-bakery==0.4

celery==3.1.18
django-celery==3.1.16
python-json-logger==0.1.2

# SSL Support
cffi==1.2.1
cryptography==1.0.2
enum34==1.0.4
idna==2.0
ipaddress==1.0.14
pyasn1==0.1.9
pycparser==2.14
six==1.9.0

