{% extends "public/base.html" %}
{% block content %}

<style>
textarea {
  margin-top: 10px;
  margin-left: 50px;
  width: 800px;
  height: 500px;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
  border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
  border-image: none;
  border-radius: 6px 6px 6px 6px;
  border-style: none solid solid none;
  border-width: medium 1px 1px medium;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  color: #555555;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  padding: 5px 8px;
  transition: background-color 0.2s ease 0s;
}


textarea:focus {
    background: none repeat scroll 0 0 #FFFFFF;
    outline-width: 0;
}

.button-green{
color:green;
}

.button-green:hover {
border: 1px solid green !important;
color:green !important;
}

.heading-x-text{
text-align: center;
}

.text_area{
resize:none;
}
</style>

<header class="wrap wrap-light l-heading l-containerhorizontal">

	<div class="l-article">

		<div class="heading">
			<div class="heading-x-text">

				<h1>Terms of Service</h1>
				{% if after_terms_agreement_url_name == 'eduid_terms_accepted_callback' %}
					<textarea readonly class='text_area'>
Toestemmingsverklaring Edubadges

Jouw onderwijsinstelling organiseert een pilot met Edubadges. In deze pilot worden digitale badges uitgereikt aan studenten van deelnemende instellingen, om zo de voor- en nadelen, toepassingen en beperkingen van deze badges in de praktijk te kunnen onderzoeken.

Om je de gekozen badge te sturen, heb je een Edubadgeaccount nodig. Met deze toestemmingsverklaring wordt toestemming gevraagd voor het aanmaken van dit account. Je kunt hier lezen hoe jouw persoonsgegevens gebruikt worden en hoe je toestemming kunt geven voor de verwerking van deze persoonsgegevens.

Wat is een badge?

Een badge is een digitaal insigne (afbeelding), dat aantoont dat de ontvanger over bepaalde kennis of vaardigheden beschikt. De ontvanger van een badge kan deze delen met anderen, bijvoorbeeld op social media, een digitaal cv of met een (potentiële) werkgever.

Meer informatie over Edubadges is te vinden op de volgende website:
https://www.surf.nl/innovatieprojecten/onderwijsinnovatie-met-ict/edubadges-en-microcredentialing.html

Een badge ontvangen

Na het aanmaken van een Edubadgeaccount kun je jezelf inschrijven voor een badge. Nadat je hebt voldaan aan de vereisten van de badge dan kan de onderwijsinstelling de badge aan jou toekennen. Voor het aanmaken van dit Edubadgeaccount zijn persoonsgegevens vereist, in deze toestemmingsverklaring wordt hiervoor toestemming gevraagd.

Let op: meedoen aan deze pilot is niet verplicht en niet deelnemen heeft geen verdere gevolgen.

Persoonsgegevens

Voor de technische werking van Edubadges zijn enkele persoonsgegevens noodzakelijk. Dit gaat om het eduID als identifier, een databasenummer, jouw voornaam, achternaam en e-mailadres.

Deze gegevens worden uitsluitend verwerkt door jouw onderwijsinstelling en diens verwerker: SURFnet. De Pilot Edubadges loopt tot en met 31 december 2020. Binnen twee weken na afloop van de Pilot Edubadges zullen alle persoonsgegevens worden verwijderd of wordt er opnieuw om toestemming gevraagd.

Toestemming intrekken

Wil je de gegeven toestemming weer intrekken? Dit kun je melden in een e-mail gericht aan info@edubadges.nl. Binnen drie werkdagen zal contact worden opgenomen om de verdere procedure af te stemmen. Na intrekken van de toestemming zullen alle badges en persoonsgegevens van jou verwijderd worden.

Meer informatie

Wil je meer weten over de verwerking van je persoonsgegevens, hoe we deze beschermen en welke rechten je hebt? Kijk dan in het privacy statement bij de pilot: <link>

Heb je nog vragen of opmerkingen, neem dan contact op met: info@edubadges.nl of je eigen onderwijsinstelling.

Toestemming

Ik geef hierbij toestemming om in het kader van de pilot Edubadges mijn persoonsgegevens te verwerken voor het aanmaken van een account en neem daarmee op vrijwillige basis deel aan deze pilot.
					</textarea>
				{% endif %}
				{% if after_terms_agreement_url_name == 'surf_conext_terms_accepted_callback' %}
					<textarea readonly class='text_area'>
Toestemmingsverklaring Edubadges

Jouw onderwijsinstelling organiseert een pilot met Edubadges. In deze pilot worden digitale badges uitgereikt aan studenten, om zo de voor- en nadelen, toepassingen en beperkingen van deze badges in de praktijk te kunnen onderzoeken.

Voor toegang tot de medewerkersomgeving van Edubadges is een account vereist. In deze toestemmingsverklaring lees je hoe jouw onderwijsinstelling met jouw persoonsgegevens omgaat en kun je toestemming geven voor de verwerking hiervan.

Wat is een Edubadge?

Een badge is een digitaal insigne (afbeelding), dat aantoont dat de ontvanger over bepaalde kennis of vaardigheden beschikt. De ontvanger van een badge kan deze delen met anderen, bijvoorbeeld op social media, een digitaal cv of met een (potentiële) werkgever.

Meer informatie over Edubadges is te vinden op de volgende website:
https://www.surf.nl/innovatieprojecten/onderwijsinnovatie-met-ict/edubadges-en-microcredentialing.html

Een badge uitgeven

Studenten kunnen zich via Edubadges inschrijven voor een badge. Na inschrijving en te hebben voldaan aan de vereisten voor de badge kan de onderwijsinstelling de badge toekennen aan de student. Binnen Edubadges zijn er verschillende rollen voor medewerkers, hieronder worden deze rollen kort uitgelegd.

1) Issuers zijn actief op opleidingsniveau en kunnen – afhankelijk van de toegekende rechten - aangevraagde badges toekennen aan studenten en badgeclasses maken en/of bewerken.

2) Faculteitsadministrators kunnen nieuwe issuers met bijbehorende rechten binnen de faculteit aanmaken.

3) Instellingsadministrators kunnen faculteiten en nieuwe faculteitsadministrators aanmaken.

Als je in het kader van deze pilot een van bovenstaande rollen op je wil nemen, dan kan dat door toestemming te geven om jouw persoonsgegevens te verwerken. Deze persoonsgegevens zijn nodig om jou te koppelen aan een rol (bijvoorbeeld issuer) en de studenten die zich ingeschreven hebben voor een badge.

Let op: meedoen aan deze pilot is niet verplicht en niet deelnemen heeft geen verdere gevolgen.

Persoonsgegevens

Voor de technische werking van Edubadges zijn enkele persoonsgegevens noodzakelijk. Dit gaat om een door SURFconext gegenereerde unieke identifier, een databasenummer, een e-mailadres, de onderwijsinstelling en eventueel de bijbehorende faculteit.

Deze gegevens worden uitsluitend verwerkt door jouw onderwijsinstelling en diens verwerker: SURFnet. De Pilot Edubadges loopt tot en met 31 december 2020. Binnen twee weken na afloop van de Pilot Edubadges zullen alle persoonsgegevens worden verwijderd of wordt er opnieuw om toestemming gevraagd.

Toestemming intrekken

Wil je de gegeven toestemming weer intrekken? Dit kun je melden in een e-mail gericht aan info@edubadges.nl. Binnen drie werkdagen zal contact worden opgenomen om de verdere procedure af te stemmen. Na intrekking van de toestemming zullen alle persoonsgegevens van jou verwijderd worden.

Meer informatie

Wil je meer weten over de verwerking van je persoonsgegevens, hoe we deze beschermen en welke rechten je hebt? Kijk dan in het privacy statement bij de pilot: <link>

Heb je nog vragen of opmerkingen, neem dan contact op met: info@edubadges.nl of je eigen onderwijsinstelling.

Toestemming

Ik geef hierbij toestemming om in het kader van de pilot Edubadges mijn persoonsgegevens te verwerken voor het aanmaken van een account en neem daarmee op vrijwillige basis deel aan deze pilot.
					</textarea>
				{% endif %}
			
				<br><br><br><br>
				<div>
					<a href="{% url after_terms_agreement_url_name state=state access_token=access_token %}"
					class="button button-primaryghost l-offsetleft button-green" >Ik geef toestemming</a>
				</div>
				<div>
					<a href="{{ui_login_redirect}}"
					class="button button-primaryghost l-offsetleft" >Ik geef geen toestemming</a>
				</div>				
			</div>
		</div>

	</div>

</header>


{% endblock %}