{% extends "public/base.html" %}
{% block content %}

<style>
.button-green{
color:green;
}

.button-green:hover {
border: 1px solid green !important;
color:green !important;
}

.heading-x-text{
text-align: center;
}

.scrollable-content{
margin: 30px 0px 30px 0px;
height: 600px;
overflow: auto;
color: #6c6b80;
font-family: "Open Sans", sans-serif;
line-height: 130%;
border-style: solid;
}

h1 {
font-family: "Open Sans", sans-serif;
color: #4d4d5b;
font-size: 29px;
margin: 30px 0px 30px 0px;
}

h2 {
color: #4d4d5b;
font-size: 23px;
margin: 20px 0px 20px 0px;
}

li {
list-style-type: square;
list-style-position: inside;
padding-left: 30px;
margin: 5px 0px 5px 0px;
}

</style>

<header class="wrap wrap-light l-heading l-containerhorizontal">
				<h1>Terms of Service</h1>
				{% if after_terms_agreement_url_name == 'eduid_terms_accepted_callback' %}
					<div class="scrollable-content">
						<h2>
						Toestemmingsverklaring Edubadges 
						</h2>
						Jouw onderwijsinstelling organiseert
						een pilot met Edubadges. In deze pilot worden digitale badges
						uitgereikt aan studenten van deelnemende instellingen, om zo de voor-
						en nadelen, toepassingen en beperkingen van deze badges in de praktijk
						te kunnen onderzoeken. 
						
						Om je de gekozen badge te sturen, heb je een
						Edubadgeaccount nodig. Met deze toestemmingsverklaring wordt
						toestemming gevraagd voor het aanmaken van dit account. Je kunt hier
						lezen hoe jouw persoonsgegevens gebruikt worden en hoe je toestemming
						kunt geven voor de verwerking van deze persoonsgegevens. 
						<h2>
							Wat is een badge? 
						</h2>
						Een badge is een digitaal insigne (afbeelding), dat aantoont
						dat de ontvanger over bepaalde kennis of vaardigheden beschikt. De
						ontvanger van een badge kan deze delen met anderen, bijvoorbeeld op
						social media, een digitaal cv of met een (potentiële) werkgever. 
						
						Meer informatie over Edubadges is te vinden op 
						<a href="https://www.surf.nl/innovatieprojecten/onderwijsinnovatie-met-ict/edubadges-en-microcredentialing.html">deze</a>
						website
				
						<h2>Een badge ontvangen</h2>
						 
						Na het aanmaken van een Edubadgeaccount kun je
						jezelf inschrijven voor een badge. Nadat je hebt voldaan aan de
						vereisten van de badge dan kan de onderwijsinstelling de badge aan jou
						toekennen. Voor het aanmaken van dit Edubadgeaccount zijn
						persoonsgegevens vereist, in deze toestemmingsverklaring wordt
						hiervoor toestemming gevraagd. 
						
						Let op: meedoen aan deze pilot is niet
						verplicht en niet deelnemen heeft geen verdere gevolgen.
				
						<h2>Persoonsgegevens</h2> 
						Voor de technische werking van Edubadges zijn enkele
						persoonsgegevens noodzakelijk. Dit gaat om het eduID als identifier,
						een databasenummer, jouw voornaam, achternaam en e-mailadres. 
						
						Deze gegevens worden uitsluitend verwerkt door jouw onderwijsinstelling en
						diens verwerker: SURFnet. De Pilot Edubadges loopt tot en met 31
						december 2020. Binnen twee weken na afloop van de Pilot Edubadges
						zullen alle persoonsgegevens worden verwijderd of wordt er opnieuw om
						toestemming gevraagd. 
						
						<h2>Toestemming intrekken</h2>
						Wil je de gegeven toestemming weer intrekken? Dit kun je melden in een e-mail gericht
						aan info@edubadges.nl. Binnen drie werkdagen zal contact worden
						opgenomen om de verdere procedure af te stemmen. Na intrekken van de
						toestemming zullen alle badges en persoonsgegevens van jou verwijderd
						worden. 
						
						<h2>Meer informatie</h2> 
						Wil je meer weten over de verwerking van je
						persoonsgegevens, hoe we deze beschermen en welke rechten je hebt?
						Kijk dan in het
						<a href="{{privacy_statement_url}}" target="_blank"> privacy statement </a>
						bij de pilot:

						Heb je nog vragen of opmerkingen, neem dan contact op met:
						info@edubadges.nl of je eigen onderwijsinstelling. 
						
						<h2>Toestemming</h2> 
						Ik geef
						hierbij toestemming om in het kader van de pilot Edubadges mijn
						persoonsgegevens te verwerken voor het aanmaken van een account en
						neem daarmee op vrijwillige basis deel aan deze pilot.
					</div>
				{% endif %}
				{% if after_terms_agreement_url_name == 'surf_conext_terms_accepted_callback' %}
					<div class="scrollable-content">
						<h2>Toestemmingsverklaring Edubadges</h2>
						<span> Jouw onderwijsinstelling organiseert een pilot met
							Edubadges. In deze pilot worden digitale badges uitgereikt aan
							studenten, om zo de voor- en nadelen, toepassingen en beperkingen van
							deze badges in de praktijk te kunnen onderzoeken. </span> <span>
							Voor toegang tot de medewerkersomgeving van Edubadges is een account
							vereist. In deze toestemmingsverklaring lees je hoe jouw
							onderwijsinstelling met jouw persoonsgegevens omgaat en kun je
							toestemming geven voor de verwerking hiervan. </span>
						<h2>Wat is een Edubadge?</h2>
						<span> Een badge is een digitaal insigne (afbeelding), dat
							aantoont dat de ontvanger over bepaalde kennis of vaardigheden
							beschikt. De ontvanger van een badge kan deze delen met anderen,
							bijvoorbeeld op social media, een digitaal cv of met een (potentiële)
							werkgever. </span> <span> Meer informatie over Edubadges is
							te vinden op <a
							href="https://www.surf.nl/innovatieprojecten/onderwijsinnovatie-met-ict/edubadges-en-microcredentialing.html">deze</a>
							website.
						</span>
						<h2>Een badge uitgeven</h2>
						<span> Studenten kunnen zich via Edubadges inschrijven voor een
							badge. Na inschrijving en te hebben voldaan aan de vereisten voor de
							badge kan de onderwijsinstelling de badge toekennen aan de student.
							Binnen Edubadges zijn er verschillende rollen voor medewerkers,
							hieronder worden deze rollen kort uitgelegd. </span>
						<ol>
							<li>Issuers zijn actief op opleidingsniveau en kunnen –
								afhankelijk van de toegekende rechten - aangevraagde badges
								toekennen aan studenten en badgeclasses maken en/of bewerken.</li>
							<li>Faculteitsadministrators kunnen nieuwe issuers met
								bijbehorende rechten binnen de faculteit aanmaken.</li>
							<li>Instellingsadministrators kunnen faculteiten en nieuwe
								faculteitsadministrators aanmaken.</li>
						</ol>
				
						<span> Als je in het kader van deze pilot een van bovenstaande
							rollen op je wil nemen, dan kan dat door toestemming te geven om jouw
							persoonsgegevens te verwerken. Deze persoonsgegevens zijn nodig om
							jou te koppelen aan een rol (bijvoorbeeld issuer) en de studenten die
							zich ingeschreven hebben voor een badge. </span> <span> Let
							op: meedoen aan deze pilot is niet verplicht en niet deelnemen heeft
							geen verdere gevolgen. </span>
				
				
						<h2>Persoonsgegevens</h2>
						<span> Voor de technische werking van Edubadges zijn enkele
							persoonsgegevens noodzakelijk. Dit gaat om een door SURFconext
							gegenereerde unieke identifier, een databasenummer, een e-mailadres,
							de onderwijsinstelling en eventueel de bijbehorende faculteit. </span> <span> Deze gegevens worden uitsluitend verwerkt door jouw
							onderwijsinstelling en diens verwerker: SURFnet. De Pilot Edubadges
							loopt tot en met 31 december 2020. Binnen twee weken na afloop van de
							Pilot Edubadges zullen alle persoonsgegevens worden verwijderd of
							wordt er opnieuw om toestemming gevraagd. </span>
						<h2>Toestemming intrekken</h2>
						<span> Wil je de gegeven toestemming weer intrekken? Dit kun je
							melden in een e-mail gericht aan info@edubadges.nl. Binnen drie
							werkdagen zal contact worden opgenomen om de verdere procedure af te
							stemmen. Na intrekking van de toestemming zullen alle
							persoonsgegevens van jou verwijderd worden. </span>
						<h2>Meer informatie</h2>
						<span> Wil je meer weten over de verwerking van je
							persoonsgegevens, hoe we deze beschermen en welke rechten je hebt?
							Kijk dan in het <a href="{{privacy_statement_url}}" target="_blank">privacy statement</a> bij de pilot.
						</span> <span> Heb je nog vragen of opmerkingen, neem dan
							contact op met: info@edubadges.nl of je eigen onderwijsinstelling. </span>
						<h2>Toestemming</h2>
						<span> Ik geef hierbij toestemming om in het kader van de pilot
							Edubadges mijn persoonsgegevens te verwerken voor het aanmaken van
							een account en neem daarmee op vrijwillige basis deel aan deze pilot.
						</span>
					</div>
				{% endif %}
			
				<br><br><br><br>
				<div style="text-align:center;">
					<div>
						<a href="{% url after_terms_agreement_url_name state=state access_token=access_token %}"
						class="button button-primaryghost l-offsetleft button-green" >Ik geef toestemming</a>
					</div>
					<div>
						<a href="{{ui_login_redirect}}"
						class="button button-primaryghost l-offsetleft" >Ik geef geen toestemming</a>
					</div>				
				</div>


</header>


{% endblock %}