<div class="issuer_" id="issuer{{count}}">
    <header class="card_">
        <div class="issuer_-x-image">
            <button><img srcst="/static/images/issuer-placeholder-2x.png 2x, /static/images/issuer-placeholder.png" src="/static/images/issuer-placeholder.png" width="48" height="48" alt="issuer description"></button>
        </div>
        <button class="issuer_-x-title">
            Issuer Name
            <span>Issuer description. Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec.</span>
        </button>
        <div class="issuer_-x-controls">
            <button class="icon_ icon_-notext icon_-expand" id="issuerTrigger">Show Badges</button>
            <button class="icon_ icon_-notext icon_-link">Do Link Thing</button>
            <button class="icon_ icon_-notext icon_-add">Add Something</button>
        </div>
    </header>
    <div class="issuer_-x-badges">

        <div class="l-grid">

            <div>
                <div class="card_">
                    {{> molecules/badge}}
                    {{> molecules/title}}
                </div>
            </div>

            <div>
                <div class="card_">
                    {{> molecules/badge}}
                    {{> molecules/title}}
                </div>
            </div>

            <div>
                <div class="card_">
                    {{> molecules/badge}}
                    {{> molecules/title}}
                </div>
            </div>

            <div>
                <div class="card_">
                    {{> molecules/badge}}
                    {{> molecules/title}}
                </div>
            </div>

        </div>

    </div>
</div>