<div class="collection_ viewdetails_">
    <h1 class="truncate_">Named Collection #1</h1>
    <div class="collection_-x-item">
        <img srcst="http://placehold.it/144x144 2x, http://placehold.it/72x72" src="http://placehold.it/72x72" width="72" height="72" alt="badge description">
    </div>
    <div class="collection_-x-item">
        <img srcst="http://placehold.it/144x144 2x, http://placehold.it/72x72" src="http://placehold.it/72x72" width="72" height="72" alt="badge description">
    </div>
    <div class="collection_-x-item">
        <img srcst="http://placehold.it/144x144 2x, http://placehold.it/72x72" src="http://placehold.it/72x72" width="72" height="72" alt="badge description">
    </div>
    <div class="collection_-x-item">
        <img srcst="http://placehold.it/144x144 2x, http://placehold.it/72x72" src="http://placehold.it/72x72" width="72" height="72" alt="badge description">
    </div>
    <div class="collection_-x-item">
        <img srcst="http://placehold.it/144x144 2x, http://placehold.it/72x72" src="http://placehold.it/72x72" width="72" height="72" alt="badge description">
    </div>
    <div class="collection_-x-item">
        <img srcst="http://placehold.it/144x144 2x, http://placehold.it/72x72" src="http://placehold.it/72x72" width="72" height="72" alt="badge description">
    </div>
    <div class="viewdetails_-x-details">
        {{> atoms/button submodules="button_-solid button_-uppercase"}}
    </div>
</div>