<ul class="gallerynav_ ">
  <li><a class="gallerynav_-x-item gallerynav_-is-active" href="#tab-shapes"><span class="icon_ icon_-shapes icon_-large">Shapes</span></a></li>
  <li><a class="gallerynav_-x-item" href="#tab-shapes"><span class="icon_ icon_-backgrounds icon_-large">Backgrounds</span></a></li>
  <li><a class="gallerynav_-x-item" href="#tab-shapes"><span class="icon_ icon_-graphics icon_-large">Graphics</span></a></li>
  <li><a class="gallerynav_-x-item" href="#tab-shapes"><span class="icon_ icon_-colors icon_-large">Colors</span></a></li>
  <li><a class="gallerynav_-x-item" href="#tab-shapes"><span class="icon_ icon_-branding icon_-large">Branding</span></a></li>
</ul>