<header class="heading_ {{submodules}}">
    <div class="heading_-x-text">
        <h1>Named Collection #2 <strong>(63)</strong></h1>
        <p>Instructional or welcome text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla at risus commodo, mattis turpis non, molestie libero. Fusce pellentesque diam ac neque.</p>
    </div>
    <div class="heading_-x-actions">
        <button class="action_">Action</button>
        <button class="action_">Action</button>
        <button class="action_">Action</button>
        <button class="action_">Action</button>
        <button class="action_">Action</button>
    </div>
    <button class="heading_-x-back icon_ icon_-back icon_-notext">Back</button>
</header>