<ul class="menu_ {{submodules}}">
    <li><a class="menu_-x-item is-active" href="">My Badges</a></li>
    <li><a class="menu_-x-item" href="">My Collections</a></li>
    <li><a class="menu_-x-item" href="">Issue Badges</a></li>
    <li>
        <span class="menu_-x-item"><span class="icon_ icon_-small icon_-right icon_-dropdownlight">username</span></span>
        <div class="menu_-x-dropdown dropdown_">
            <ul>
                <li><a class="dropdown_-x-item" href="">Dropdown Item</a></li>
                <li><a class="dropdown_-x-item" href="">Dropdown Item</a></li>
            </ul>
        </div>
    </li>
</ul>