{% extends "public/base.html" %}
{% load staticfiles %}

{% block page_title %}Badge Assertion Detail{% endblock %}

{% block extra_head %}
	{% if badge_instance and badge_class and issuer %}
        <meta property="og:type"               content="website" />
        <meta property="og:url"                content="{{ badge_instance_public_url }}" />
        <meta property="og:title"              content="{{ badge_class.name }}" />
        <meta property="og:description"        content="{{ badge_class.json.description }}" />

        <meta property="og:image"              content="{{ badgeclass_image_png }}" />
        <meta property="og:image:secure_url"   content="{{ badgeclass_image_png }}" />

        <meta property="og:site_name"          content="Badgr" />
	{% endif %}
{% endblock %}

{% block content %}
	{% if not badge_instance or not badge_class or not issuer %}
		<article class="emptyillustration" *ngIf="! issuers.length">
			<img srcset="{% static 'badgr-ui/images/500-badgr-2x.png' %} 2x, {% static 'badgr-ui/images/500-badgr.png' %}"src="{% static 'badgr-ui/images/500-badgr.png' %}"alt="Badgr is sorry :(" width="312" height="317">
			<p>The Badge you are looking for could not be found.</p>
		</article>
	{% elif badge_instance.revoked %}
		<div class="wrap wrap-light l-containerhorizontal l-heading">
			<p>This badge has been revoked. {{ badge_instance.revocation_reason }}</p>
		</div>
	{% else %}
    <header class="wrap wrap-light l-containerhorizontal l-heading">

	    <div class="heading">
		    <div class="heading-x-imageLarge">
			    <img src="{{badge_instance_image_url}}" alt="{{badge_class.name}} image">
		    </div>
		    <div class="heading-x-text">

			    <h1>{{ badge_class.name }}</h1>

            	<a class="stack" href="{{ issuer_url }}">
				    <div class="stack-x-image">
					    <img src="{% if issuer.json.image %}{{ issuer.json.image }}{% else %}{% static 'badgr-ui/images/issuer-placeholder.png' %}{% endif %}"
					         width="40"
					         alt="{{ issuer.json.name }}" />
				    </div>
				    <div class="stack-x-text">
					    <h2>{{ issuer.json.name }}</h2>
                        <small>{{ badgeclass_count }} {% if badgeclass_count > 1 %}Badges{% else %}Badge{% endif %}</small>
				    </div>
			    </a>


			    <p class="heading-x-meta">Issued {{ badge_instance.created_at|date:'F d, Y' }} to {{ obscured_recipient }}</p>

			    <p>{{ badge_class.json.description }}</p>

			     {% if badge_class.criteria_text %}
				     <h3 class="title title-small">Criteria</h3>
				     <p>{{ badge_class.criteria_text }}</p>
			     {% endif %}

			    <div class="l-childrenhorizontal l-childrenhorizontal-small l-offsetleft">
				    {% if not badge_class.criteria_text %}
					    <a class="button button-primaryghost" href="{{ badge_class.json.criteria }}" target="_blank">View Criteria</a>
				    {% endif %}
				    {% if badge_instance.json.evidence %}
				    <a class="button button-primaryghost" href="{{ badge_instance.json.evidence }}" target="_blank">View evidence</a>
				    {% endif %}
			      {% if badge_instance_public_url %}
				    <a class="button button-primaryghost" href="{{ badge_instance_public_url }}.json" target="_blank">View JSON</a>
				    {% endif %}
			    </div>

		    </div>

        <div class="heading-x-actions">
	    {% if action == 'download' %}
          <a id="ImageDownloadButton" class="button button-major button-large" target="_blank" href="{{ badge_instance_image_url }}" download>Download</a>
        {% elif badge_instance_public_url %}
          <a class="button button-major button-large" target="_blank" href="https://badgecheck.io/?url={{ badge_instance_public_url }}">Verify Badge</a>
		{% endif %}
        </div>

	    </div>

    </header>

		<div div class="wrap l-containerhorizontal l-headeredsection">
		</div>
	{% endif %}

{% endblock %}

{% block footer_extra_scripts %}
    {% if action == 'download' %}
        <script type="text/javascript">
            setTimeout(function(){
                var downloadButton = document.getElementById("ImageDownloadButton");
                downloadButton.click();
            }, 2000);
        </script>
    {% endif %}
{% endblock %}
