{% extends "public/base.html" %}

{% block page_title %}Badge Assertion Detail{% endblock %}

{% block extra_head %}
        <meta property="og:type"               content="website" />
        <meta property="og:url"                content="{{ badge_instance_public_url }}" />
        <meta property="og:title"              content="{{ badge_class.name }}" />
        <meta property="og:description"        content="{{ badge_class.json['description'] }}" />

        <meta property="og:image"              content="{{ badge_instance_image_url }}" />
        <meta property="og:image:secure_url"   content="{{ badge_instance_image_url }}" />

        <meta property="og:site_name"          content="Badgr" />
{% endblock %}

{% block content %}
    <header class="wrap wrap-light l-containerhorizontal l-heading">

	    <div class="heading">
		    <div class="heading-x-image">
			    <img src="{{badge_instance_image_url}}" alt="{{badge_class.name}} image">
		    </div>
		    <div class="heading-x-text">

			    <h1>
				    {{ badge_class.name }}
			    </h1>

			    <p class="heading-x-meta">
				    Issued {{ badge_instance.created_at.strftime('%B %d, %Y') }} to {{ obscured_recipient }}
			    </p>

			    <p>
				    {{ badge_class.json['description'] }}
			    </p>

		      <h2>Criteria</h2>
			    <p>
				    {{ badge_class.criteria_text }}
			    </p>

			    <div class="l-childrenhorizontal l-childrenhorizontal-small l-offsetleft">
				    {% if badge_instance.json['evidence'] %}
				    <a class="button button-primaryghost" href="{{ badge_instance.json['evidence'] }}" target="_blank">View evidence</a>
				    {% endif %}
				    <a class="button button-primaryghost" href="{{ badge_instance_public_url }}.json" target="_blank">View JSON</a>
			    </div>

			    <h2 class="titledivider">Issuer</h2>

			    <a class="stack" target="_blank" href="{{ issuer.json['url'] }}">
				    <div class="stack-x-image">
					    <img src="{% if issuer.json['image'] %}{{ issuer.json['image'] }}{% else %}{{STATIC_URL}}public/images/issuer-placeholder.png{% endif %}"
					         width="40"
					         alt="{{ issuer.json['name'] }}" />
				    </div>
				    <div class="stack-x-text">
					    <h2>{{ issuer.json['name'] }}</h2>
				    </div>
			    </a>

			    <div class="heading-x-actions">
				    <a class="button button-major button-large" target="_blank" href="https://badgecheck.io/?url={{ badge_instance_public_url }}">Verify Badge</a>
			    </div>

		    </div>

	    </div>

    </header>
{% endblock %}


