{% extends "public/base.html" %}
{% load staticfiles %}
{% load markdownify %}

{% block page_title %}{% if badge_class %}{{ badge_class.name }} Badge{% else %}BadgeClass not found{% endif %}{% endblock %}

{% block content %}
	{% if not badge_class %}
		<article class="emptyillustration" *ngIf="! issuers.length">
			<img srcset="{% static 'badgr-ui/images/500-badgr-2x.png' %} 2x, {% static 'badgr-ui/images/500-badgr.png' %}"src="{% static 'badgr-ui/images/500-badgr.png' %}"alt="Badgr is sorry :(" width="312" height="317">
			<p>The BadgeClass you are looking for could not be found.</p>
		</article>
	{% else %}
    <header class="wrap wrap-light l-containerhorizontal l-heading">

	    <div class="heading">
		    <div class="heading-x-imageLarge">
			    <img src="{{badge_class.image.url}}" alt="{{badge_class.name}} image">
		    </div>
		    <div class="heading-x-text">
			    <h1>{{ badge_class.name }}</h1>

				  <a class="stack" href="{{ issuer.public_url }}">
				    <div class="stack-x-image">
					    <img src="{% if issuer.image %}{{ issuer.image.url }}{% else %}{% static 'badgr-ui/images/issuer-placeholder.png' %}{% endif %}"
					         width="40"
					         alt="{{ issuer.name }}" />
				    </div>
				    <div class="stack-x-text">
					    <h2>{{ issuer.name }}</h2>
                        <small>{{ badgeclass_count }} {% if badgeclass_count > 1 %}Badges{% else %}Badge{% endif %}</small>
				    </div>
			    </a>
			    <p class="heading-x-meta">Created {{ badge_class.created_at|date:'F d, Y' }}</p>

			    <p>{{ badge_class.description }}</p>

		      {% if badge_class.criteria_text %}
		      <h3 class="title title-small">Criteria</h3>
			    {{ badge_class.criteria_text|markdownify|safe }}
					{% endif %}

			    <div class="l-childrenhorizontal l-childrenhorizontal-small l-offsetleft">
				    {% if not badge_class.criteria_text %}
					  <a class="button button-primaryghost" href="{{ badge_class.criteria_url }}" target="_blank">View Criteria</a>
				    {% endif %}
				    <a class="button button-primaryghost" href="{{ badge_class.public_url }}.json" target="_blank">View JSON</a>
				    {% if external_source_url %}
					    <a class="button button-primaryghost" href="{{ external_source_url }}" target="_blank">View Original</a>
				    {% endif %}
			    </div>

		    </div>

	    </div>

    </header>
		<div div class="wrap l-containerhorizontal l-headeredsection">
		</div>
	{% endif %}



{% endblock %}
