{% extends "public/base.html" %}

{% block page_title %}{{ badge_class.name }} Badge{% endblock %}

{% block content %}
    <header class="wrap wrap-light l-containerhorizontal l-heading">

	    <div class="heading">
		    <div class="heading-x-image">
			    <img src="{{badge_class.json['image']}}" alt="{{badge_class.name}} image">
		    </div>
		    <div class="heading-x-text">

			    <h1>
				    {{ badge_class.name }}
			    </h1>

			    <p class="heading-x-meta">
				    Created {{ badge_class.created_at.strftime('%B %d, %Y') }}
			    </p>

			    <p>
				    {{ badge_class.json['description'] }}
			    </p>

		      {% if badge_class.criteria_text %}
		      <h2>Criteria</h2>
			    <p>
				    {{ badge_class.criteria_text }}
			    </p>
					{% endif %}

			    <div class="l-childrenhorizontal l-childrenhorizontal-small l-offsetleft">
				    {% if not badge_class.criteria_text %}
					  <a class="button button-primaryghost" href="{{ badge_class.json['criteria'] }}" target="_blank">View Criteria</a>
				    {% endif %}
				    <a class="button button-primaryghost" href="{{ badge_class.get_absolute_url() }}.json" target="_blank">View JSON</a>
			    </div>

			    <h2 class="titledivider">Issuer</h2>

			    <a class="stack" target="_blank" href="{{ issuer.json['url'] }}">
				    <div class="stack-x-image">
					    <img src="{% if issuer.json['image'] %}{{ issuer.json['image'] }}{% else %}{{STATIC_URL}}public/images/issuer-placeholder.png{% endif %}"
					         width="40"
					         alt="{{ issuer.json['name'] }}" />
				    </div>
				    <div class="stack-x-text">
					    <h2>{{ issuer.json['name'] }}</h2>
				    </div>
			    </a>

		    </div>

	    </div>

    </header>

    <div class="l-headeredsection">
      
    </div>

{% endblock %}
