<!doctype html>
<html prefix="og: http://ogp.me/ns#">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>{{ title }}</title>

	<meta property="og:type"               content="website" />
	<meta property="og:url"                content="{{ public_url }}" />
	<meta property="og:title"              content="{{ title }}" />
	<meta property="og:description"        content="{{ description }}" />

	<meta property="og:image"              content="{{ image_url }}" />
	<meta property="og:image:secure_url"   content="{{ image_url }}" />

	<meta property="og:site_name"          content="Badgr" />
</head>

<body>
	<img src="{{ image_url }}"/>
	<h1>{{ title }}</h1>
	<div>{{ description }}</div>
	<a href="{{ public_url }}">{{ public_url }}</a>

	<script>
		window.location = "{{ public_url }}";
	</script>
</body>
</html>
