<!doctype html>
<html prefix="og: http://ogp.me/ns#">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>{{ title }}</title>

	<meta property="og:type"               content="website" />
	<meta property="og:url"                content="{{ public_url }}" />
	<meta property="og:title"              content="{{ title }}" />
	<meta property="og:description"        content="None" />

	<meta property="og:image"              content="{{ image_url }}" />
	<meta property="og:image:secure_url"   content="{{ image_url }}" />

	<meta property="og:site_name"          content="Badgr" />
</head>

<body>

</body>
</html>
