{% extends "public/base.html" %}

{% block navigation_items_ui %}
{% endblock %}

{% block content %}

	<header class="wrap wrap-light l-containerhorizontal l-heading">
		<div class="heading">
			<div class="heading-x-text">
				<h1>Badgr API Server</h1>
			</div>
		</div>
	</header>

	<div class="l-containerhorizontal l-containervertical l-childrenvertical wrap">

		<form class="l-form" novalidate role="form" method="post">
			{% csrf_token %}

			<fieldset>

				<div class="formfield {% if form.username.errors %}formfield-is-error{% endif %}">
					<label for="id_username">Username</label>
					<input type="text" name="username" maxlength="100"
								 autocapitalize="off"
								 autocorrect="off" class="form-control textinput textInput"
								 id="id_username" required
								 {% if form.username.value %}value="{{ form.username.value }}"{% endif %}>
					{% if form.username.errors %}
						<p class="formfield-x-error">
							{{ form.username.errors|striptags }}
						</p>
					{% endif %}
				</div>


				<div class="formfield {% if form.password.errors %}formfield-is-error{% endif %}">
					<label for="id_password">Password</label>
					<input type="password" name="password" maxlength="100"
								 autocapitalize="off" autocorrect="off" class="form-control textinput textInput"
								 id="id_password" required>
					{% if form.password.errors %}
						<p class="formfield-x-error">
							{{ form.password.errors|striptags }}
						</p>
					{% endif %}
				</div>
			</fieldset>

			<div class="l-form-x-offset l-childrenhorizontal l-childrenhorizontal-spacebetween">
				<button class="button" type="submit">Sign In</button>
			</div>
		</form>

	</div>

{% endblock %}
