{% extends "public/base.html" %}

{% block content %}

	<header class="wrap wrap-light l-containerhorizontal l-heading ">
		<div class="heading">
			<div class="heading-x-text">
				<h1>{{collection.name}} <span>{number} Badges</span></h1>
				<p><small>Badges earned by {email}</small></p>
				<p>{{collection.description}}</p>
			</div>
		</div>
	</header>


	<div class="wrap l-containerhorizontal l-headeredsection">

		<div class="l-gridthree">
			{% for entry in collection.badges.all %}
			<div>
				<article class="card card-largeimage">
					<a class="card-x-main" target="_blank" href="{{ entry.badge_instance.cached_issuer.json.url }}">
						<div class="card-x-image">
							<div class="badge badge-flat">
								<img alt="{{ entry.badge_instance.cached_badgeclass.name }} Badge" src="{{ entry.badge_instance.image_url }}" width="80">
							</div>
						</div>
						<div class="card-x-text">
							<h1>{{ entry.badge_instance.cached_badgeclass.name }}</h1>
							<small>{{ entry.badge_instance.cached_issuer.name }}</small>
							<p>{truncated badge criteria}</p>
						</div>
					</a>
				</article>
			</div>
			{% endfor %}
		</div>

	</div>
{% endblock %}
