{{> molecules/header-small}}

<!-- For LTI views main does not receive wrap_ and wrap_bottomborder -->

<main class="l-wrapper l-wrapper-inset">

  <!-- React requires an additional wrapper for modules, otherwise l-vertical could go on the main element -->

  <div class="l-vertical">

    <header class="heading_ {{submodules}}">
        <div class="heading_-x-text">
            <h1>My Badges</h1>
        </div>
    </header>

    {{> atoms/rule}}
    
    <div class="issuer_" id="issuer{{count}}">
        <header class="card_">
            <button class="issuer_-x-title">
                Release Course
                <span>November 18, 2015 - Ongoing</span>
            </button>
            <div class="issuer_-x-controls">
                <button class="icon_ icon_-notext icon_-expand" id="issuerTrigger">Show Badges</button>
            </div>
        </header>
        <div class="issuer_-x-badges">

            <div class="l-grid">

                <div>
                    <div class="card_">
                        {{> molecules/badge}}
                        <div class="title_">

                            <div>

                                <h1 class="title_-x-primary">Presidential Pro</h1>

                            </div>


                        </div>
                    </div>
                </div>

                <div>
                    <div class="card_">
                        {{> molecules/badge}}
                        <div class="title_">

                            <div>

                                <h1 class="title_-x-primary">Presidential Pro</h1>

                            </div>


                        </div>
                    </div>
                </div>

                <div>
                    <div class="card_">
                        {{> molecules/badge}}
                        <div class="title_">

                            <div>

                                <h1 class="title_-x-primary">Presidential Pro</h1>

                            </div>


                        </div>
                    </div>
                </div>

                <div>
                    <div class="card_">
                        {{> molecules/badge}}
                        <div class="title_">

                            <div>

                                <h1 class="title_-x-primary">Presidential Pro</h1>

                            </div>


                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

  </div>

</main>

<script>
  // Body receives an override for all canvas views
  // Adding via JavaScript for pattern library purposes
  document.body.classList.add('o-canvas');
</script>