{% extends "email/base.html" %}

{% load staticfiles %}

{% block main %}
<!-- Begin Title Row -->
<tr>
  <td style="
    padding-bottom: 48px;
  ">
    <h1 class="mstext" style="
      color: #05012C;
      font-family: 'Open Sans', Trebuchet, sans-serif;
      font-weight: normal;
      font-size: 24px;
      font-weight: 600;
      line-height: 32px;
      margin: 0;
      text-align: center;
    ">
      Congratulations, you earned a badge!
    </h1>
  </td>
</tr>
<!-- Begin Badge Row -->
<tr>
  <td align="center" style="
    padding-bottom: 16px;
  ">
    <a href="{{ badge_instance_url }}" style="
      text-decoration: none;
    ">
      <img class="badge" src="{{ image_url }}" alt="Badge" style="max-width: 75%; height: auto;" />
    </a>
  </td>
</tr>
<!-- Begin Badge Title Row -->
<tr>
  <td style="
    padding-bottom: 16px;
  ">
    <h2 class="mstext" style="
      color: #05012C;
      font-family: 'Open Sans', Trebuchet, sans-serif;
      font-weight: normal;
      font-size: 24px;
      font-weight: 600;
      line-height: 32px;
      margin: 0;
      text-align: center;
    ">
      {{ badge_name }}
    </h2>
  </td>
</tr>
<!-- Begin Buttons Row -->
<tr>
  <td align="center">
    <table cellpadding="0" cellspacing="0" style="
      border-collapse: collapse;
    ">
      <tr>
        <td style="
          padding-bottom: 16px;
          padding-left: 8px;
          padding-right: 8px;
        ">
          <table cellpadding="0" cellspacing="0" style="
            border-collapse: collapse;
          ">
            <tbody>
              <tr>
                <td bgcolor="#FFFFFF" style="
                  border-radius: 4px;
                ">
                  <a class="mstext" href="{{ image_url }}" style="
                    border: 1px solid #C30A28;
                    border-radius: 4px;
                    color: #C30A28;
                    display: inline-block;
                    font-family: 'Open Sans', Trebuchet, sans-serif;
                    font-size: 14px;
                    font-weight: bold;
                    padding-bottom: 8px;
                    padding-left: 16px;
                    padding-right: 16px;
                    padding-top: 8px;
                    text-decoration: none;
                    text-transform: uppercase;
                  ">
                    Download
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
        <td style="
          padding-bottom: 16px;
          padding-left: 8px;
          padding-top: 4px;
        ">
          <a href="{{ HTTP_ORIGIN }}{% url 'analytics_share_badge' badge_id=badge_id %}?provider=facebook"><img srcset="{% static 'images/emailfacebook-2x.png' %} 2x" src="{% static 'images/emailfacebook.png' %}" alt=""></a>
        </td>
        <td style="
          padding-bottom: 16px;
          padding-left: 8px;
          padding-top: 4px;
        ">
          <a href="{{ HTTP_ORIGIN }}{% url 'analytics_share_badge' badge_id=badge_id %}?provider=linkedin"><img srcset="{% static 'images/emaillinkedin-2x.png' %} 2x" src="{% static 'images/emaillinkedin.png' %}" alt=""></a>
        </td>
      </tr>
    </table>
  </td>
</tr>
<!-- Begin Description Row -->
<tr>
  <td style="
    padding-bottom: 8px;
  ">
    <p class="mstext" style="
      color: #05012C;
      font-family: 'Open Sans', Trebuchet, sans-serif;
      font-size: 14px;
      line-height: 24px;
      margin: 0;
    ">
      {{ badge_description }}
    </p>
  </td>
</tr>
<!-- Begin Issuer Header Row -->
<tr>
  <td style="
    padding-bottom: 16px;
  ">
    <div style="
      position: relative;
    ">
      <h3 class="mstext" style="
        background-color: #FFFFFF;
        color: #E1E0E5;
        font-family: 'Open Sans', Trebuchet, sans-serif;
        font-size: 12px;
        font-weight: normal;
        display: inline-block;
        line-height: 16px;
        margin: 0;
        padding-right: 8px;
        position: relative;
        z-index: 2;
      ">
        Issuer
      </h3>
      <div style="
        background-color: #E1E0E5;
        height: 1px;
        left: 0;
        position: absolute;
        top: 10px;
        width: 100%;
        z-index: 1;
      "></div>
    </div>
  </td>
</tr>
<!-- Begin Issuer Row -->
<tr>
  <td>
    <table cellpadding="0" cellspacing="0" style="
      border-collapse: collapse;
    ">
      <tbody>
        <tr>
          {% if issuer_image_url %}
          <td style="
            padding-right: 16px;
          ">
            <a href="{{ issuer_detail }}" style="
              text-decoration: none;
            ">
              <img src="{{ issuer_image_url }}" alt="" style="max-width: 80px; height: auto;">
            </a>
          </td>
          {% endif %}
          <td>
            <a class="mstext" href="{{ issuer_detail }}" style="
              color: #05012C;
              font-family: 'Open Sans', Trebuchet, sans-serif;
              font-weight: normal;
              font-size: 16px;
              line-height: 24px;
              margin: 0;
              text-decoration: none;
            ">
              {{ issuer_name }}
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
{% endblock main %}

{% block beforeabout %}
<!-- Begin How To Use Title Row -->
<tr>
  <td style="
    padding-bottom: 8px;
  ">
    <h2 class="mstext" style="
    color: #05012C;
    font-family: 'Open Sans', Trebuchet, sans-serif;
    font-weight: normal;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    margin: 0;
    ">
      Your badge is ready
    </h2>
  </td>
</tr>
<!-- Begin How To Use Body Row -->
<tr>
  <td style="
    padding-bottom: 32px;
  ">
    <p class="mstext" style="
      color: #05012C;
      font-family: 'Open Sans', Trebuchet, sans-serif;
      font-size: 14px;
      line-height: 24px;
      margin: 0;
    ">
      This badge has been automatically added to your {{ site_name }} account. Wherever you
      share or display your badge, portable information about your achievement will
      be locked inside. You may also save this badge image for your records or to upload to any Open
      Badges-compatible service.</p>

      <p class="mstext" style="
      color: #05012C;
      font-family: 'Open Sans', Trebuchet, sans-serif;
      font-size: 14px;
      line-height: 24px;
      margin: 1em 0 0 0;
    ">
        <a href="{{ site_url }}" style="
          border: 1px solid #C30A28;
          border-radius: 4px;
          color: #C30A28;
          display: inline-block;
          font-family: 'Open Sans', Trebuchet, sans-serif;
          font-size: 14px;
          font-weight: bold;
          padding-bottom: 8px;
          padding-left: 16px;
          padding-right: 16px;
          padding-top: 8px;
          text-decoration: none;
          text-transform: uppercase;">Go To Account</a>
      </p>

      {% if promote_mobile %}
        <p class="mstext" style="
      color: #05012C;
      font-family: 'Open Sans', Trebuchet, sans-serif;
      font-size: 14px;
      line-height: 24px;
      margin: 0;
    ">
        You can also download our <a href="http://info.badgr.io/#mobile">mobile app</a>
        to take your badges on the go!
      {% endif %}
    </p>
  </td>
</tr>
{% endblock beforeabout %}
