{{> molecules/header}}

<main class="wrap_ wrap_-borderbottom l-wrapper l-wrapper-inset l-vertical">

  {{> molecules/heading}}
  
  {{> atoms/rule}}

  {{> molecules/detail submdoules="l-vertical-x-offset"}}

  {{> molecules/heading-small}}

  <table class="table_">
    <thead>
      <tr>
        <th scope="col">Badge</th>
        <th scope="col">No. of Recipients</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">
            <div class="l-horizontal">
               <div>
                   {{> atoms/thumbnail}}
                   <button class="truncate_ action_ action_-tertiary">pneumonoultramicroscopicsilicovolcanoconiosislypneumonoultramicroscopicsilicovolcanoconiosispneumonoultramicroscopicsilicovolcanoconiosislypneumonoultramicroscopicsilicovolcanoconiosis</button>
               </div>
          </div>
        </th>
        <td>10</td>
        <td>
          <div class="l-horizontal">
            <div>
              {{> atoms/button-tertiary}}
              {{> atoms/button-tertiary}}
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

</main>

{{> atoms/footer}}