{% extends "base_interior.html" %}


{% block page_title %}{{object}}{% endblock %}


{% set page_title=object.__unicode__() %}

{% if object.slug == 'top-level-page' %}
    {% set active_tab=object.slug %}
{% else %}
    {% set active_tab='about' %}
{% endif %}


{% block content %}
    <div class="content_area">  
        {{ object.body|safe_ckeditor }}
    </div>

    <aside class="content_secondary">
        {% for block in object.blocks %}
            {{block.body|safe_ckeditor}}
        {% endfor %}
    </aside>
{% endblock %}
