 <div class="l-horizontal">
    <div>
        {{> atoms/thumbnail}}
        <button class="truncate_ action_ action_-tertiary">Really long, really long, oh so incredibly looooooong pneumonoultramicroscopicsilicovolcanoconiosisly looooooong pneumonoultramicroscopicsilicovolcanoconiosis</button>
    </div>
    <div>
        <button class="action_ action_-faint">Add/Create Badge</button>
        <button class="icon_ icon_-small icon_-notext icon_-clear">Delete</button>
        <button class="icon_ icon_-small icon_-notext icon_-dropdown">Delete</button>
    </div>
</div>