<div class="l-wrappinglist">
  {{> atoms/imageselect count="1"}}
  {{> atoms/imageselect count="2"}}
  {{> atoms/imageselect count="3"}}
  {{> atoms/imageselect count="4"}}
  {{> atoms/imageselect count="5"}}
  {{> atoms/imageselect count="6"}}
  {{> atoms/imageselect count="7"}}
  {{> atoms/imageselect count="8"}}
  {{> atoms/imageselect count="9"}}
  {{> atoms/imageselect count="10"}}
  {{> atoms/imageselect count="11"}}
  {{> atoms/imageselect count="12"}}
  {{> atoms/imageselect count="13"}}
  {{> atoms/imageselect count="14"}}
  {{> atoms/imageselect count="15"}}
  {{> atoms/imageselect count="16"}}
  {{> atoms/imageselect count="17"}}
  {{> atoms/imageselect count="18"}}
  {{> atoms/imageselect count="19"}}
  {{> atoms/imageselect count="20"}}
</div>