{% extends 'email/base.html' %} {% block title %}
<title>
    Eduwallet pilot: Your awarded badge for the badge class {{badgeclass_name}} has been revoked by the issuer
</title>
{% endblock %} {% block content %}
<div class="mail_container">
    <div class="mail_subcontainer">
        <p>
            <b>This only applies to the edubadge stored on the eduwallet pilot environment</b>
        </p>
        <p class="mail_title">Your awarded edubadge {{badgeclass_name}} has been revoked by the issuer.</p>
        <p class="mail_subtitle">Click the button to view the badge in edubadges.</p>
        <a class="button" target="_blank" rel="noopener noreferrer" href="{{ui_url}}"> Go to your backpack</a>
    </div>
    <div class="mail_subcontainer middle">
        <p>For the English version, see below.</p>
        <hr />
        <p>{{recipient_name}},</p>
        <p>Je toegekende edubadge {{badgeclass_name}} is ingetrokken door de uitgever.</p>
        {% if revocation_reason|length > 1 %}
        <p>De reden voor de intrekking:</p>
        <p>{{revocation_reason}}</p>
        {% endif %}
        <p>Met vriendelijke groet,</p>
        <p>Team Edubadges</p>
        <hr />
        <p>{{recipient_name}},</p>
        <p>Your awarded edubadge for {{badgeclass_name}} has been revoked by the issuer.</p>
        {% if revocation_reason|length > 1 %}
        <p>The reason for the revoke:</p>
        <p>{{revocation_reason}}</p>
        {% endif %}
        <p>Kind regards,</p>
        <p>Team Edubadges</p>
    </div>
</div>
{% endblock %}
