{% extends 'email/base.html' %}

{% block title %}
<title>Your role has changed for the {{entity_type}} {{entity_name}}</title>
{% endblock %}

{% block content %}
<div class="mail_container">
    <div class="mail_subcontainer">
        <p class="mail_title">Your role has changed for the {{entity_type}} {{entity_name}}.</p>
        <p class="mail_subtitle">Click the button to view your new role.</p>
        <a class="button blue-button" href="{{staff_page_url}}">View new role</a>
    </div>
    <div class="mail_subcontainer middle">
        <p>For the English version, see below.</p>
        <hr>
        <p>{{recipient_name}},</p>
        <p>Uw role voor de {{entity_type_dutch}} <strong>{{entity_name}}</strong> is veranderd.</p>
        <p>Klik op de knop om uw nieuwe rol te bekijken.</p>
        <p>Met vriendelijke groet,</p>
        <p>Team Edubadges</p>
        <hr>
        <p>{{recipient_name}},</p>
        <p>Your role has changed for the {{entity_type}} <strong>{{entity_name}}</strong>.</p>
        <p>Click the button to view your new role.</p>
        <p>Kind regards,</p>
        <p>Team Edubadges</p>
    </div>
</div>
{% endblock %}