{% extends "base.html" %}

{%block mainnav %}{% endblock %}


    <form method="post">
        
        <button type="submit">Submit</button>
    </form>



{% block mainsection %}
<div class="container-fluid">
    <div class="col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Please Sign In</h3>
            </div>
            <div class="panel-body">
                <form role="form" method="post">
                    <fieldset>
                        <!-- <div class="form-group">
                            <input class="form-control" placeholder="E-mail" name="email" type="email" autofocus>
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Password" name="password" type="password" value="">
                        </div> -->
                        {{ form.as_p()|safe }}
                        {{ csrf() }}
                        <!-- Change this to a button or input when using this as a form -->
                        <button type="submit" class="btn btn-lg btn-success btn-block">Login</button>
                    </fieldset>
                </form>

                <a href='{{ url("forgot_password") }}'>Forgot Password?</a>
            </div>
        </div>
    </div>
  </div>
{% endblock %}