<article class="article_">
  
  <h1>Configuration Settings</h1>

  <table class="table_">
    <thead class="hidden">
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Key</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Your Consumer Key</th>
        <td>
          <div class="l-horizontal">
            <div>35338cb99274765f6db66529be4cdb8e</div>
            <div><button class="button_ button_-tertiary">Copy</button></div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <h1>Instructions</h1>

  <p>Badgr can connect with Canvas to automatically issue badges to students as they complete their work.</p>

  <p>In Canvas, set up a course with modules and completion requirements. Then go to <strong>Settings</strong>, select <strong>Apps</strong>, and click the <strong>Add App</strong> button:</p>

  <img src="/static/images/info-addapps.png" alt="Click Add App on External Apps">

  <p>Make sure the <a href="">email address</a> you log into Badgr with has been <span class="state_ state_-verified">Verified</span>.</p>

  <p>Select the <strong>Add by URL</strong> method, and fill out the form with the configuration settings above, filling the Consumer Key, Shared Secret, and Config URL fields:</p>

  <img src="/static/images/info-addappform.png" alt="Click Add App on External Apps">

  <p>Tap the <strong>Submit</strong> button to complete the set up.</p>

</article>