<button class="icon_ icon_-help icon_-notext" id="context-trigger">Help</button>
<div class="context_" id="context">
  <button class="context_-x-close icon_ icon_-close icon_-notext" id="context-close">Close</button>
  <p>Badges are automatically issued for completion of Modules in this course. Make sure your modules have completion requirements set before attaching badges to them. You can define new badges on this page by providing a PNG image, name, description and criteria, or you can select from the badges you've already defined for this course's issuer in the <a href="">Badgr</a> application. </p>
</div>