<div class="filter_">
    <form action="">
        <input type="text" placeholder="Filter By Name">
    </form>
    <ul>
        <li>
            <button class="filter_-x-item">
                <span><img srcst="http://placehold.it/80x80 2x, http://placehold.it/40x40" src="http://placehold.it/40x40" width="40" height="40" alt="badge description"></span>
                <span class="truncate_">Legal Knowledge</span>
            </button>
        </li>
        <li>
            <button class="filter_-x-item">
                <span><img srcst="http://placehold.it/80x80 2x, http://placehold.it/40x40" src="http://placehold.it/40x40" width="40" height="40" alt="badge description"></span>
                <span class="truncate_">Legal Knowledge</span>
            </button>
        </li>
        <li>
            <button class="filter_-x-item">
                <span><img srcst="http://placehold.it/80x80 2x, http://placehold.it/40x40" src="http://placehold.it/40x40" width="40" height="40" alt="badge description"></span>
                <span class="truncate_">Legal Knowledge</span>
            </button>
        </li>
        <li>
            <button class="filter_-x-item">
                <span><img srcst="http://placehold.it/80x80 2x, http://placehold.it/40x40" src="http://placehold.it/40x40" width="40" height="40" alt="badge description"></span>
                <span class="truncate_">Legal Knowledge</span>
            </button>
        </li>
        <li>
            <button class="filter_-x-item">
                <span><img srcst="http://placehold.it/80x80 2x, http://placehold.it/40x40" src="http://placehold.it/40x40" width="40" height="40" alt="badge description"></span>
                <span class="truncate_">Legal Knowledge</span>
            </button>
        </li>
        <li>
            <button class="filter_-x-item">
                <span><img srcst="http://placehold.it/80x80 2x, http://placehold.it/40x40" src="http://placehold.it/40x40" width="40" height="40" alt="badge description"></span>
                <span class="truncate_">Legal Knowledge</span>
            </button>
        </li>
        <li>
            <button class="filter_-x-item">
                <span><img srcst="http://placehold.it/80x80 2x, http://placehold.it/40x40" src="http://placehold.it/40x40" width="40" height="40" alt="badge description"></span>
                <span class="truncate_">Legal Knowledge</span>
            </button>
        </li>
        <li>
            <button class="filter_-x-item">
                <span><img srcst="http://placehold.it/80x80 2x, http://placehold.it/40x40" src="http://placehold.it/40x40" width="40" height="40" alt="badge description"></span>
                <span class="truncate_">Legal Knowledge</span>
            </button>
        </li>
        <li>
            <button class="filter_-x-item">
                <span><img srcst="http://placehold.it/80x80 2x, http://placehold.it/40x40" src="http://placehold.it/40x40" width="40" height="40" alt="badge description"></span>
                <span class="truncate_">Legal Knowledge</span>
            </button>
        </li>
    </ul>
    <p>You currently don’t have any badges defined. Use the link below to create one now.</p>
    <div class="filter_-x-action">
        <button class="button_ button_-uppercase">Create New Badge</button>
    </div>
</div>