<table class="table_">

    <thead>

        <tr>
            <th scope="col">Col Head 1</th>
            <th scope="col">Col Head 2</th>
            <th scope="col">Col Head 3</th>
        </tr>

    </thead>

    <tbody>

        <tr>
            <th scope="row">Row Head</th>
            <td class="table_-x-main table_-x-minpad">
                 <div class="l-horizontal">
                    <div>
                        <button style="min-width: 48px"><img srcst="http://placehold.it/96x96 2x, http://placehold.it/48x48" src="http://placehold.it/48x48" width="48" height="48" alt="issuer description"></button>
                        <button class="truncate_ action_ action_-tertiary">Really long, really long, oh so incredibly looooooong pneumonoultramicroscopicsilicovolcanoconiosisly looooooong pneumonoultramicroscopicsilicovolcanoconiosis</button>
                    </div>
                    <div>
                        <button class="action_ action_-faint">Add/Create Badge</button>
                        <button class="icon_ icon_-small icon_-notext icon_-clear">Delete</button>
                        <button class="icon_ icon_-small icon_-notext icon_-dropdown">Delete</button>
                    </div>
                </div>

            </td>
            <td>Cell</td>
        </tr>

        <tr>
            <th scope="row">Row Head</th>
            <td class="table_-x-main">Cell</td>
            <td>Cell</td>
        </tr>

        <tr>
            <th scope="row">Row Head</th>
            <td class="table_-x-main">Cell</td>
            <td class="table_-x-centered">
                <button><img srcst="http://placehold.it/96x96 2x, http://placehold.it/48x48" src="http://placehold.it/48x48" width="48" height="48" alt="issuer description"></button>
            </td>
        </tr>

    </tbody>

</table>