{{> molecules/header-small}}

<main class="l-mainoverride">

  <form action="" class="l-studio wrap_ wrap_-borderbottom">
    
    <nav class="wrap_ wrap_-shadow">

      <h1 class="wrap_ wrap_-dark wrap_-borderbottom l-studio-x-header">Badge Studio</h1>
      
      {{> molecules/gallerynav}}

    </nav>

    <div class="wrap_ wrap_-borderright">

      <section id="tab-shapes">
        
        <h2 class="wrap_ wrap_-dark wrap_-borderbottom l-studio-x-header">Badges</h2>

        <div>
          
          <ul class="l-wrappinglist">
            <li>{{> atoms/imageselect count="1"}}</li>
            <li>{{> atoms/imageselect count="2"}}</li>
            <li>{{> atoms/imageselect count="3"}}</li>
            <li>{{> atoms/imageselect count="4"}}</li>
            <li>{{> atoms/imageselect count="5"}}</li>
            <li>{{> atoms/imageselect count="6"}}</li>
            <li>{{> atoms/imageselect count="7"}}</li>
            <li>{{> atoms/imageselect count="8"}}</li>
            <li>{{> atoms/imageselect count="9"}}</li>
            <li>{{> atoms/imageselect count="10"}}</li>
            <li>{{> atoms/imageselect count="11"}}</li>
            <li>{{> atoms/imageselect count="12"}}</li>
            <li>{{> atoms/imageselect count="13"}}</li>
          </ul>

        </div>

      </section>

    </div>

    <div class="wrap_ wrap_-body">

      <div>
        
        <canvas></canvas>

        <p>Data about the Badge being created will go here.</p>

      </div>
      
      <fieldset class="wrap_  wrap_-dark wrap_-borderbottom  l-studio-x-header">
        
        {{> atoms/button-secondary}}

        {{> atoms/button}}

      </fieldset>

    </div>

  </form>

</main>

{{> atoms/footer}}