<!-- Requires dialog-polyfill.js above screen.css, dialog elements themselves need to be a child of body -->

<button class="button_" id="dialogOpen">Open Dialog</button>

<dialog class="dialog_" id="dialogID">

  <button class="dialog_-x-close" id="dialogClose"><span class="icon_ icon_-notext icon_-close">Close</span></button>

  <div class="dialog_-x-content">

      <header>
        <div class="heading_-x-text">
            <h1>Demo Form Submit</h1>
        </div>
      </header>
      
      <form action="" class="form_" id="formStatus">

        <div class="form_-x-loading loading_">
          <p>Loading&hellip;</p>
        </div>
        
        <fieldset>

            <div class="form_-x-field">
                <label for="name">Name <span class="hint">(with a note)</span></label>
                <input type="text" id="name" name="name" tabindex="1" required>
            </div>

            <div class="form_-x-field">
                <label for="name">Select</label>
                <select id="name" name="name" tabindex="2" required>
                    <option value="">Choose Collection &hellip;</option>
                    <option value="First Selection">First Selection</option>
                </select>
            </div>

        </fieldset>

      </form>

  </div>

  <div class="control_">
    <button class="button_" id="formStatusTrigger" type="button">Submit Form</button>
  </div>
  
</dialog>

<script>

  var formStatusTrigger = document.getElementById('formStatusTrigger');
  var formStatus = document.getElementById('formStatus');

  formStatusTrigger.addEventListener('click', function() {
    formStatus.classList.toggle('form_-is-submitted');
  });

</script>
