{% extends "account/email/base.html" %}

{% block afterlogo %}
<!-- Begin Title Row -->
<tr>
  <td style="
    padding-bottom: 16px;
  ">
    <h1 class="mstext" style="
      color: #05012C;
      font-family: 'Open Sans', Trebuchet, sans-serif;
      font-weight: normal;
      font-size: 24px;
      font-weight: 600;
      line-height: 32px;
      margin: 0;
      text-align: center;
      word-break: break-all;
    ">
    Please verify your email address on Badgr, <br>
    {{ email.email }}
    </h1>
  </td>
</tr>
<!-- Begin Description Row -->
<tr>
  <td style="
    padding-bottom: 8px;
  ">
    <p class="mstext" style="
      color: #05012C;
      font-family: 'Open Sans', Trebuchet, sans-serif;
      font-size: 14px;
      line-height: 24px;
      margin: 0;
      word-break: break-all;
    ">
    A Badgr user has requested to add this email to their account. Please click the link below to verify this operation, and then you may upload badges that have been issued to this address to your account. If you didn't make this request, you can safely ignore this email, and no action will be taken on your behalf.
    </p>
  </td>
</tr>
{% endblock %}

{% block button_url %}{{ activate_url }}{% endblock %}
{% block button_text %}Confirm Now{% endblock %}

{% block afterbutton %}
<!-- Begin Secondary Description Row -->
<tr>
  <td style="
    padding-bottom: 8px;
  ">
    <p class="mstext" style="
      color: #05012C;
      font-family: 'Open Sans', Trebuchet, sans-serif;
      font-size: 12px;
      line-height: 16px;
      margin: 0;
      word-break: break-all;
    ">
      Or, you can copy/paste this link into your browser: <a href="{{ activate_url }}" style="color: #C30A28;">{{ activate_url }}</a>
    </p>
  </td>
</tr>
{% endblock %}
