{% extends "account/email/base.html" %}

{% block afterlogo %}
<!-- Begin Title Row -->
<tr>
  <td style="
    padding-bottom: 16px;
  ">
    <h1 class="mstext" style="
      color: #05012C;
      font-family: 'Open Sans', Trebuchet, sans-serif;
      font-weight: normal;
      font-size: 24px;
      font-weight: 600;
      line-height: 32px;
      margin: 0;
      text-align: center;
      word-break: break-all;
    ">
    {% load i18n %}{% blocktrans with site_name=site.name site_domain=site.domain %}Hello from {{ site_name }}!{% endblocktrans %}
    </h1>
  </td>
</tr>
<!-- Begin Description Row -->
<tr>
  <td style="
    padding-bottom: 8px;
  ">
    <p class="mstext" style="
      color: #05012C;
      font-family: 'Open Sans', Trebuchet, sans-serif;
      font-size: 14px;
      line-height: 24px;
      margin: 0;
      word-break: break-all;
    ">
    {% blocktrans with site_name=site.name site_domain=site.domain %}The password has been successfully reset for your account at <strong>{{ site_domain }}</strong>. You may now log in with your new password. If you did not request this password change, please use the forgot password link on the login page to reset it to your control, and contact us immediately at <a style="color: #C30A28;" href="mailto:{{ help_email }}">{{ help_email }}</a>. Thank you for using {{ site_name }}!{% endblocktrans %}
    </p>
  </td>
</tr>
{% endblock %}

{% block button %}{% endblock %}
