{% extends "account/email/base.html" %}

{% block action_callout %}
    Confirm password reset request.
{% endblock %}

{% block confirmation_body %}
    <p>{% load i18n %}{% blocktrans with site_name=site.name site_domain=site.domain %}Hello from {{ site_name }}!</p>

    <p>You're receiving this email because you or someone else has requested a password for your user account at <strong>{{ site_domain }}</strong>.
    It can be safely ignored if you did not request this reset. If this is you and you're ready to change your password, click the button below.{% endblocktrans %}</p>

    <p>{% blocktrans with site_name=site.name site_domain=site.domain %}Thank you for using {{ site_name }}!{% endblocktrans %}</p>
{% endblock %}

{% block action_button %}
    <a href="{{ password_reset_url }}" style="
      color: #ffffff;
      font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 14px;
      font-weight: 600;
      text-decoration: none;
      text-transform: uppercase;">
      Choose a new password
    </a>
{% endblock %}

{% block copy_link %}Or, you can copy/paste this link into your browser: <a href="{{ password_reset_url }}" style="color: #4A90E2; text-decoration: none;">{{ password_reset_url }}</a>{% endblock %}
