{% extends "account/email/base.html" %}

{% block afterlogo %}
<!-- Begin Title Row -->
<tr>
  <td style="
    padding-bottom: 16px;
  ">
    <h1 class="mstext" style="
      color: #05012C;
      font-family: 'Open Sans', Trebuchet, sans-serif;
      font-weight: normal;
      font-size: 24px;
      font-weight: 600;
      line-height: 32px;
      margin: 0;
      text-align: center;
    ">
    {% blocktrans with site_name=site.name site_domain=site.domain %}Please confirm your request to reset your {{ site_name }} password.{% endblocktrans %}
    </h1>
  </td>
</tr>
<!-- Begin Description Row -->
<tr>
  <td style="
    padding-bottom: 8px;
  ">
    <p class="mstext" style="
      color: #05012C;
      font-family: 'Open Sans', Trebuchet, sans-serif;
      font-size: 14px;
      line-height: 24px;
      margin: 0;
    ">
    {% blocktrans with site_name=site.name site_domain=site.domain %}You're receiving this email because you or someone else has requested a password for your user account at <strong>{{ site_domain }}</strong>. It can be safely ignored if you did not request this reset. If this is you and you're ready to change your password, click the button below.{% endblocktrans %}
    </p>
  </td>
</tr>
{% endblock %}

{% block button_url %}{{ password_reset_url }}{% endblock %}
{% block button_text %}Choose a new password{% endblock %}

{% block afterbutton %}
<!-- Begin Secondary Description Row -->
<tr>
  <td style="
    padding-bottom: 8px;
  ">
    <p class="mstext" style="
      color: #05012C;
      font-family: 'Open Sans', Trebuchet, sans-serif;
      font-size: 12px;
      line-height: 16px;
      margin: 0;
    ">
      Or, you can copy/paste this link into your browser: <a href="{{ password_reset_url }}" style="color: #C30A28; word-break: break-all;">{{ password_reset_url }}</a>
    </p>
  </td>
</tr>
{% endblock %}
