{{> atoms/header}}

<main class="wrap_ wrap_-borderbottom">

  <div class="l-wrapper l-wrapper-inset l-vertical">
    <header class="heading_">
      <div class="heading_-x-text">
        <h1>Email Addresses</h1>
        <p>The Following email addresses are associated with your account:</p>
      </div>
      <div class="heading_-x-actions">
        <button class="action_">Change Password</button>
      </div>
    </header>
    {{> atoms/rule}}
    <form action="" class="form_ form_-inline">
        <input type="text" class="input_">
        <button class="button_ button_-large button_-uppercase">Add Email</button>
    </form>
    <table class="table_">
      <thead>
        <tr>
          <th scope="col">Email Address</th>
          <th scope="col">Status</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"><span class="icon_ icon_-primary">badgr@concentricsky.com</span></th>
          <td><span class="state_ state_-verified">Verified</span> / <span class="state_ state_-primary">Primary</span></td>
          <td>
            <div class="l-horizontal">
              <div>
                <button class="button_ button_-tertiary">Re-send Verification</button>
                <button class="button_ button_-tertiary">Remove</button>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">jcowsill@concentricsky.com</th>
          <td><span class="state_ state_-verified">Verified</span></td>
          <td>
            <div class="l-horizontal">
              <div>
                <button class="button_ button_-tertiary">Re-send Verification</button>
                <button class="button_ button_-tertiary">Remove</button>
                <button class="button_ button_-tertiary">Make Primary</button>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">another@gmail.com</th>
          <td><span class="state_ state_-pending">Pending&hellip;</span></td>
          <td>
            <div class="l-horizontal">
              <div>
                <button class="button_ button_-tertiary">Re-send Verification</button>
                <button class="button_ button_-tertiary">Remove</button>
                <button class="button_ button_-tertiary">Make Primary</button>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</main>

{{> atoms/footer}}