{{> molecules/header}}

<main class="wrap_ wrap_-borderbottom">

  <div class="l-wrapper l-wrapper-inset l-vertical">
    <header class="heading_">
      <div class="heading_-x-text">
        <h1>Log In</h1>
        <p>Please enter your username and password. <a href="">Sign Up</a> if you don't have an account.</p>
      </div>
      
    </header>
    {{> atoms/rule}}
    <form action="" class="form_ l-narrow">
      
      <fieldset>
        
        <div class="form_-x-field">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" tabindex="1" required>
        </div>

        <div class="form_-x-field">
            <label for="name">Password</label>
            <input type="password" id="password" name="password" tabindex="2" required>
        </div>

        <div class="form_-x-field l-horizontal">
          <div>
            <a href="">Forgot Password?</a>
          </div>
          <div>
            <div class="form_-x-checkbox">
                <label>
                    <input type="checkbox" id="checkbox" name="checkbox" tabindex="6" required>
                    <span class="form_-x-checkbox-text">Remember me</span>
                </label>
            </div>
          </div>
        </div>

      </fieldset>

      <fieldset>
        
        <button class="button_ button_-uppercase" type="submit">Log In</button>

      </fieldset>

    </form>
  </div>

</main>

{{> atoms/footer}}