{% extends "issuer/email/base_notify_award.html" %}

{% load staticfiles %}



{% block how_to_use_title %}
Badge Storage and Access
{% endblock %}

{% block how_to_use_row %}
Wherever you take your badge, portable information about your achievement will
be locked inside. You can use any Open Badges backpack service, but if you choose
to create a {{ site_name }} account, your badges awarded from this issuer will
be automatically added.
{% endblock %}


{% block call_to_action_label %}
Create Account
{% endblock %}
