.navbar-brand img {
  max-width: 30px;
  height: auto;
  display: inline; }
.navbar-brand span {
  padding-left: 0.5em; }

.navbar {
  border: 0; }

.navbar .navbar-header {
  width: 100%; }
  .navbar .navbar-header .navbar-right > ul {
    display: inline-block; }

.badge-display-active {
  background-color: #d1d1d1; }

.sidebar-nav li.expanded-false ul {
  display: none; }

.navbar-static-top {
  margin-bottom: 0; }

.badge-display {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.25em;
  float: left;
  border: 1px solid #ccc;
  border-radius: 4px; }

.badge-display-thumbnail {
  overflow: hidden;
  height: 310px; }
  .badge-display-thumbnail .badgeProperty span.propertyValue {
    font-weight: bold; }

img {
  max-width: 100%;
  height: auto; }

.loading-icon {
  height: 2em;
  width: 2em;
  background: transparent url('/static/images/ajax-loader.gif') no-repeat center center; }

form.disabled, form.disabled textarea {
  background-color: #ddd; }

.dropzone img {
  max-width: 200px;
  height: auto; }

#page-wrapper {
  border-left: 0;
  margin: 0 auto; }

.wrap {
  max-width: 1080px;
  margin: 0 auto; }

.main-header {
  border-bottom: 1px solid #e7e7e7; }

.badge-display-active {
  background-color: #d1d1d1; }

.navbar-brand img {
  max-width: 30px;
  height: auto;
  display: inline; }
.navbar-brand span {
  padding-left: 0.5em; }

.navbar {
  border: 0; }

.navbar .navbar-header {
  width: 100%; }
  .navbar .navbar-header .navbar-right > ul {
    display: inline-block; }
