{{> molecules/header-small}}

<main class="l-mainoverride">

  <form action="" class="l-studio wrap_ wrap_-borderbottom">
    
    <nav class="wrap_ wrap_-shadow wrap_-dark">

      <h1 class="wrap_ wrap_-dark wrap_-borderbottom textindent_ l-studio-x-header">Badge Studio</h1>
      
      {{> molecules/gallerynav}}

    </nav>

    <div class="wrap_ wrap_-borderright">

      <section id="tab-shapes">
        
        <h2 class="wrap_ wrap_-dark wrap_-borderbottom label_ l-studio-x-header">Badges</h2>

        <div>
          
          <ul class="l-wrappinglist">
            <li>{{> atoms/imageselect count="1"}}</li>
            <li>{{> atoms/imageselect count="2"}}</li>
            <li>{{> atoms/imageselect count="3"}}</li>
            <li>{{> atoms/imageselect count="4"}}</li>
            <li>{{> atoms/imageselect count="5"}}</li>
            <li>{{> atoms/imageselect count="6"}}</li>
            <li>{{> atoms/imageselect count="7"}}</li>
            <li>{{> atoms/imageselect count="8"}}</li>
            <li>{{> atoms/imageselect count="9"}}</li>
            <li>{{> atoms/imageselect count="10"}}</li>
            <li>{{> atoms/imageselect count="11"}}</li>
            <li>{{> atoms/imageselect count="12"}}</li>
            <li>{{> atoms/imageselect count="13"}}</li>
          </ul>

        </div>

      </section>

    </div>

    <div class="wrap_ wrap_-body">

      <div>
       
        <div class="canvas_-background">
        {{> atoms/canvas}}
        </div>

        <div class="detail_">
          <ul>
            <h2 class="detail_-x-meta">Some Stat</h2>
            <p>Some detail.</p>
          </ul>
        </div>

      </div>
      
      <div class="wrap_  wrap_-dark wrap_-borderbottom  l-studio-x-header l-horizontalright">
        
        {{> atoms/button-secondary}}

        {{> atoms/button}}

      </div>

    </div>

  </form>

</main>

{{> atoms/footer}}