{{> molecules/header-small}}

<main class="l-mainoverride">

    <div class="control_">
      
    </div>


    <div class="l-vertical l-wrapper">


        <!-- course A -->
        <div class="issuer_ is-expanded">
            <header class="card_">
                <button class="issuer_-x-title">
                    <h1>PHIL233 - Philosphy of the Mind</h1>
                    May 23, 2005 - Aug 5, 2005
                </button>
                <div class="issuer_-x-controls">
                    <button class="icon_ icon_-notext icon_-collapse">
                        Show Badges
                    </button>
                </div>
            </header>
            <div class="issuer_-x-badges">
                <div class="l-grid">
                    <div>
                        <div class="card_">
                            <div class="badge_">
                                <img srcst="http://placehold.it/256x256 2x, http://placehold.it/128x128" src="http://placehold.it/128x128" width="128" height="128" alt="badge description">
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="card_">
                            <div class="badge_">
                                <img srcst="http://placehold.it/256x256 2x, http://placehold.it/128x128" src="http://placehold.it/128x128" width="128" height="128" alt="badge description">
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="card_">
                            <div class="badge_">
                                <img srcst="http://placehold.it/256x256 2x, http://placehold.it/128x128" src="http://placehold.it/128x128" width="128" height="128" alt="badge description">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- course B -->
        <div class="issuer_">
            <header class="card_">
                <button class="issuer_-x-title">
                    <h1>PHIL233 - Philosphy of the Mind</h1>
                    May 23, 2005 - Aug 5, 2005
                </button>
                <div class="issuer_-x-controls">
                    <button class="icon_ icon_-notext icon_-expand">
                        Show Badges
                    </button>
                </div>
            </header>
            <div class="issuer_-x-badges">
                <div class="l-grid">
                    <div>
                        <div class="card_">
                            <div class="badge_">
                                <img srcst="http://placehold.it/256x256 2x, http://placehold.it/128x128" src="http://placehold.it/128x128" width="128" height="128" alt="badge description">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>






</main>

{{> atoms/footer}}